openapi: 3.0.0
info:
  x-internal: ["cloud"]
  title: View
  description: OpenAPI schema for managing Meshery views — saved perspectives with filters and metadata.
  version: v1beta2
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)

security:
  - jwt: []

tags:
  - name: views
    description: APIs for managing Meshery views.

components:
  responses:
    200:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/200"
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    404:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/404"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    viewId:
      name: viewId
      in: path
      description: View ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/view_id"
      required: true
    search:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/search"
    order:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/order"
    page:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/page"
    pagesize:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/pagesize"
    orgIdQuery:
      name: orgId
      in: query
      description: Organization ID to scope the request.
      schema:
        type: string
      required: false
    userIdQuery:
      name: userId
      in: query
      description: UUID of the user whose views to retrieve.
      schema:
        type: string
      required: false

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    MesheryView:
      $ref: "./view.yaml"

    MesheryViewWithLocation:
      type: object
      description: A view enriched with the workspace and organization it belongs to.
      required:
        - workspaceId
        - organizationId
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        name:
          type: string
          description: Display name of the view.
          maxLength: 255
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: name
            json: "name,omitempty"
        visibility:
          type: string
          description: Visibility level of the view.
          maxLength: 255
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: visibility
            json: "visibility,omitempty"
        filters:
          type: object
          description: Filter configuration for this view.
          x-go-type: core.Map
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
            name: core
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: filters
            json: "filters,omitempty"
        metadata:
          type: object
          description: Metadata associated with the view.
          x-go-type: core.Map
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
            name: core
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: metadata
            json: "metadata,omitempty"
        userId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: ID of the user who created the view.
          x-go-name: UserID
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: user_id
            json: "userId,omitempty"
        workspaceName:
          type: string
          description: Name of the workspace this view belongs to.
          maxLength: 255
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: workspace_name
            json: "workspaceName,omitempty"
        workspaceId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: ID of the workspace this view belongs to.
          x-go-name: WorkspaceID
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: workspace_id
            json: workspaceId
        organizationId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: ID of the organization this view belongs to.
          x-go-name: OrganizationID
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: organization_id
            json: organizationId
        organizationName:
          type: string
          description: Name of the organization this view belongs to.
          maxLength: 255
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: organization_name
            json: "organizationName,omitempty"
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the view was created.
          x-go-type: time.Time
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: created_at
            json: createdAt
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the view was last updated.
          x-go-type: time.Time
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: updated_at
            json: updatedAt
        deletedAt:
          type: string
          format: date-time
          description: Timestamp when the view was soft deleted. Null while the view remains active.
          nullable: true
          x-go-type: core.NullTime
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
            name: core
          x-oapi-codegen-extra-tags:
            db: deleted_at
            json: "deletedAt,omitempty"

    ViewPayload:
      type: object
      description: Payload for creating or updating a view.
      required:
        - name
      properties:
        name:
          type: string
          description: Display name of the view.
          maxLength: 255
          minLength: 1
          x-oapi-codegen-extra-tags:
            json: "name,omitempty"
        filters:
          type: object
          description: Filter configuration for this view.
          x-go-type: core.Map
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
            name: core
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: "filters,omitempty"
        visibility:
          type: string
          description: Visibility level of the view.
          maxLength: 255
          x-oapi-codegen-extra-tags:
            json: "visibility,omitempty"
        metadata:
          type: object
          description: Metadata associated with the view.
          x-go-type: core.Map
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
            name: core
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: "metadata,omitempty"

    ContentSharePayload:
      type: object
      description: |
        Payload for sharing a view with one or more recipients by email. The
        wire format matches the canonical design share payload
        (`design.ContentSharePayload` in `v1beta2/design`), restricted to the
        `view` content type since that is all this endpoint accepts.
      required:
        - contentId
        - contentType
        - emails
        - share
      properties:
        contentId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Identifier of the view being shared.
          x-oapi-codegen-extra-tags:
            json: contentId
        contentType:
          type: string
          description: |
            The kind of content being shared. Only `view` is accepted on this
            endpoint.
          enum:
            - view
          x-oapi-codegen-extra-tags:
            json: contentType
        emails:
          type: array
          description: Email addresses of the recipients to share this view with.
          items:
            type: string
            format: email
        share:
          type: boolean
          description: |
            When true, flip the view's visibility to public and send invitation
            emails to the recipients. When false, revert visibility to private.

    MesheryViewPage:
      type: object
      description: Paginated list of views with location enrichment.
      properties:
        page:
          type: integer
          description: Zero-based page index returned in this response.
          minimum: 0
          x-go-type-skip-optional-pointer: true
        pageSize:
          type: integer
          description: Maximum number of items returned on each page.
          minimum: 1
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: "pageSize,omitempty"
        totalCount:
          type: integer
          description: Total number of items across all pages.
          minimum: 0
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: "totalCount,omitempty"
        views:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: MesheryViewWithLocation
            $ref: "#/components/schemas/MesheryViewWithLocation"
          description: Views in this page, enriched with workspace and organization context.

  requestBodies:
    viewPayload:
      description: Body for creating or updating a view
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ViewPayload"
    contentSharePayload:
      description: Body for sharing a view with recipients by email.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ContentSharePayload"

paths:
  /api/content/views:
    post:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: createView
      summary: Create a view
      description: Creates a new view with the given filters and metadata.
      requestBody:
        $ref: "#/components/requestBodies/viewPayload"
      responses:
        "201":
          description: Created view
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MesheryView"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    get:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: getViews
      summary: Get views
      description: Returns a paginated list of views accessible to the user.
      parameters:
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - name: filter
          in: query
          description: JSON-encoded filter string for assignment and soft-delete filters.
          required: false
          schema:
            type: string
        - name: shared
          in: query
          description: When true, include views shared with the user.
          required: false
          schema:
            type: boolean
        - name: visibility
          in: query
          description: Filter by visibility level (public, private).
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/orgIdQuery"
        - $ref: "#/components/parameters/userIdQuery"
      responses:
        "200":
          description: Views page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MesheryViewPage"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /api/content/view/share:
    post:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: shareView
      summary: Share a view by email
      description: |
        Shares a view with a list of email addresses. When `share` is true, the
        view's visibility is flipped to public and an invitation email is sent
        to each recipient. When `share` is false, visibility is reverted to
        private. Only the owner of the view (or a provider admin) may change
        its sharing mode.
      requestBody:
        $ref: "#/components/requestBodies/contentSharePayload"
      responses:
        "200":
          description: View shared.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Caller is not the owner of the view.
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/content/views/{viewId}:
    get:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: getViewById
      summary: Get a view by ID
      description: Returns a single view by its unique identifier.
      parameters:
        - $ref: "#/components/parameters/viewId"
      responses:
        "200":
          description: View
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MesheryView"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: updateView
      summary: Update a view
      description: Updates an existing view with new filters, metadata, or visibility.
      parameters:
        - $ref: "#/components/parameters/viewId"
      requestBody:
        $ref: "#/components/requestBodies/viewPayload"
      responses:
        "200":
          description: Updated view
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MesheryView"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - views
      operationId: deleteView
      summary: Delete a view
      description: Soft-deletes a view by its unique identifier.
      parameters:
        - $ref: "#/components/parameters/viewId"
      responses:
        "204":
          description: View deleted
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
