openapi: 3.0.0
info:
  title: environment
  description: Documentation for meshery Cloud REST APIs
  contact:
    email: maintainers@meshery.io
  version: v0.6.394
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)

security:
  - jwt: []

tags:
  - name: environments
    description: APIs for environments
components:
  responses:
    200:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/200"
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    environmentId:
      name: environmentId
      in: path
      description: Environment ID
      schema:
        $ref: ../../v1alpha1/core/api.yml#/components/schemas/Id
      required: true
    search:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/search
    order:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/order
    page:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/page
    pagesize:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/pagesize
    orgIDQuery:
      name: orgID
      in: query
      description: User's organization ID
      schema:
        type: string
      required: true

  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    environment:
      $ref: "./environment.yaml"
    environmentConnectionMapping:
      type: object
      title: Environment Connection Mapping
      additionalProperties: false
      description: Mapping between an environment and one of its associated connections.
      required:
        - ID
        - environment_id
        - connection_id
        - created_at
        - updated_at
      properties:
        ID:
          title: Mapping ID
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/general_id
          description: Unique identifier for the environment-to-connection mapping.
          readOnly: true
        environment_id:
          title: Environment ID
          type: string
          format: uuid
          description: Identifier of the environment participating in the mapping.
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid
          x-oapi-codegen-extra-tags:
            db: environment_id
            json: environment_id
          x-go-type-skip-optional-pointer: true
        connection_id:
          title: Connection ID
          type: string
          format: uuid
          description: Identifier of the connection participating in the mapping.
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid
          x-oapi-codegen-extra-tags:
            db: connection_id
            json: connection_id
          x-go-type-skip-optional-pointer: true
        created_at:
          title: Created At
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/created_at
          readOnly: true
        updated_at:
          title: Updated At
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/updated_at
          readOnly: true
        deleted_at:
          title: Deleted At
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/nullTime
          description: Timestamp when the mapping was soft deleted. Null while active.
          nullable: true
          readOnly: true
      example:
        ID: 00000000-0000-0000-0000-000000000000
        environment_id: 00000000-0000-0000-0000-000000000000
        connection_id: 00000000-0000-0000-0000-000000000000
        created_at: "0001-01-01T00:00:00Z"
        updated_at: "0001-01-01T00:00:00Z"
        deleted_at: null
    environmentPayload:
      type: object
      title: Environment Payload
      additionalProperties: false
      description: Body for creating an environment.
      required:
        - name
        - organization_id
      properties:
        name:
          $ref: "./environment.yaml#/properties/name"
        description:
          $ref: "./environment.yaml#/properties/description"
        organization_id:
          $ref: "./environment.yaml#/properties/organization_id"
      example:
        name: Production Environment
        description: Connections and credentials for the production cluster.
        organization_id: 00000000-0000-0000-0000-000000000000
    environmentPage:
      type: object
      title: Environment Page
      additionalProperties: false
      description: Paginated collection of environments.
      required:
        - page
        - page_size
        - total_count
        - environments
      properties:
        page:
          title: Page Number
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/number
          description: Current page number in the paginated result set.
        page_size:
          title: Page Size
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/number
          description: Maximum number of environments returned for the current page.
        total_count:
          title: Total Count
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/number
          description: Total number of environments available across all pages.
        environments:
          title: Environments
          type: array
          description: Environments included in the current page.
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Environment
            $ref: "#/components/schemas/environment"
      example:
        page: 1
        page_size: 10
        total_count: 1
        environments:
          - id: 00000000-0000-0000-0000-000000000000
            schemaVersion: environments.meshery.io/v1beta1
            name: Production Environment
            description: Connections and credentials for the production cluster.
            organization_id: 00000000-0000-0000-0000-000000000000
            owner: 00000000-0000-0000-0000-000000000000
            created_at: "0001-01-01T00:00:00Z"
            metadata: {}
            updated_at: "0001-01-01T00:00:00Z"
            deleted_at: null

  requestBodies:
    environmentPayload:
      description: Body for creating environment
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/environmentPayload"

paths:
  /api/environments:
    post:
      tags:
        - environments
      operationId: CreateEnvironment
      summary: Create an environment
      description: Creates a new environment
      requestBody:
        $ref: "#/components/requestBodies/environmentPayload"
      responses:
        "201":
          description: Created environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment"
        "400":
          $ref: "#/components/responses/400"
        "500":
          $ref: "#/components/responses/500"
    get:
      tags:
        - environments
      operationId: GetEnvironments
      summary: Get all environments
      description: Gets all environments
      parameters:
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Environments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environmentPage"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
