openapi: 3.0.0
info:
  title: environment
  description: API for managing Meshery Environments - logical groupings of connections and resources.
  contact:
    email: maintainers@meshery.io
  version: v0.6.394
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)

security:
  - jwt: []

tags:
  - name: environments
    description: APIs for managing environments. Environments are logical groupings of connections. See [Environments documentation](https://docs.meshery.io/concepts/logical/environments).
components:
  responses:
    200:
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/200"
    400:
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/401"
    500:
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/500"
    404:
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"

  parameters:
    environmentId:
      name: environmentId
      in: path
      description: Unique identifier of the environment
      schema:
        $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/Id
      required: true
    search:
      $ref: ../../v1alpha1/core/openapi.yml#/components/parameters/search
    order:
      $ref: ../../v1alpha1/core/openapi.yml#/components/parameters/order
    page:
      $ref: ../../v1alpha1/core/openapi.yml#/components/parameters/page
    pagesize:
      $ref: ../../v1alpha1/core/openapi.yml#/components/parameters/pagesize
    filter:
      $ref: ../../v1alpha1/core/openapi.yml#/components/parameters/filter
    orgIDQuery:
      name: orgID
      in: query
      description: User's organization ID
      schema:
        type: string
      required: true
    connectionId:
      name: connectionId
      in: path
      description: Unique identifier of the connection
      schema:
        $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
      required: true

  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    environment:
      $ref: "./environment.json"
    environmentPayload:
      properties:
        name:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/Text
          description: An environment is a collection of resources. Provide a name that meaningfully represents these resources. You can change the name of the environment even after its creation.
        description:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/Text
          description: "An environment is a collection of resources, such as connections & credentials. Provide a detailed description to clarify the purpose of this environment and the types of resources it encompasses. You can modify the description at any time. Learn more about environments [here](https://docs.meshery.io/concepts/logical/environments)."
        organization_id:
          type: string
          description: Select an organization in which you want to create this new environment. Keep in mind that the organization cannot be changed after creation.
          x-go-type-skip-optional-pointer: true
          x-go-name: OrgId
          x-oapi-codegen-extra-tags:
            json: organization_id
      required:
        - name
        - organization_id
    environmentPage:
      properties:
        page:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/number
        page_size:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/number
        total_count:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/number
        environments:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Environment
            $ref: "#/components/schemas/environment"
    environmentUpdatePayload:
      properties:
        name:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/Text
          description: Updated name for the environment. Choose a name that represents the grouped resources.
        description:
          $ref: ../../v1alpha1/core/openapi.yml#/components/schemas/Text
          description: Updated description for the environment. Use this to clarify its purpose.

  requestBodies:
    environmentPayload:
      description: Request body for creating a new environment.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/environmentPayload"
    environmentUpdatePayload:
      description: Request body for updating environment name or description.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/environmentUpdatePayload"

paths:
  /api/environments:
    post:
      tags:
        - environments
      operationId: CreateEnvironment
      summary: Create an environment
      description: |
        Creates a new environment in the specified organization. Environments group
        related connections for easier management. The organization cannot be changed
        after creation.
      externalDocs:
        description: Learn more about Environments
        url: https://docs.meshery.io/concepts/logical/environments
      requestBody:
        $ref: "#/components/requestBodies/environmentPayload"
      responses:
        "201":
          description: Environment created. Add connections to group your infrastructure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    get:
      tags:
        - environments
      operationId: GetEnvironments
      summary: Get all environments
      description: |
        Returns a paginated list of all environments in the organization.
        Use search and filters to narrow results.
      externalDocs:
        description: Learn more about Environments
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Returns a list of environments with pagination metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environmentPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /api/environments/{environmentId}:
    parameters:
      - $ref: "#/components/parameters/environmentId"
    get:
      tags:
        - environments
      operationId: GetEnvironmentById
      summary: Get an environment by ID
      description: |
        Returns environment details including name, description, organization,
        and metadata. Use this before modifying or deleting an environment.
      externalDocs:
        description: Environments overview
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Environment details including name, description, and organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      tags:
        - environments
      operationId: DeleteEnvironment
      summary: Delete an environment
      description: |
        Permanently removes an environment. All connection assignments are
        removed, but the connections themselves remain. This cannot be undone.
      externalDocs:
        description: Environment deletion
        url: https://docs.meshery.io/concepts/logical/environments
      responses:
        "200":
          description: Environment deleted. Connection assignments removed but connections remain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      tags:
        - environments
      operationId: UpdateEnvironment
      summary: Update an environment
      description: |
        Modifies an environment's name or description. The organization
        cannot be changed after creation.
      externalDocs:
        description: Managing environments
        url: https://docs.meshery.io/concepts/logical/environments
      requestBody:
        $ref: "#/components/requestBodies/environmentUpdatePayload"
      responses:
        "200":
          description: Environment updated. Organization ID remains unchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environment"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/environments/{environmentId}/connections:
    get:
      tags:
        - environments
      operationId: GetConnectionsOfEnvironment
      summary: Get all connections assigned to an environment
      description: |
        Returns a paginated list of connections assigned to this environment.
        A connection can be assigned to multiple environments.
        Use this to audit infrastructure resources grouped here.
      externalDocs:
        description: Managing environment connections
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: List of connections linked to this environment.
          content:
            application/json:
              schema:
                $ref: "../connection/openapi.yml#/components/schemas/ConnectionPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/environments/{environmentId}/connections/{connectionId}:
    post:
      tags:
        - environments
      operationId: AssignConnectionToEnvironment
      summary: Assign a connection to an environment
      description: |
        Links a connection to this environment. Creates an association allowing workspace members to access resources in the environment. A connection can belong to
        multiple environments. This does not affect the connection's status.
      externalDocs:
        description: Managing environment connections
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/connectionId"
      responses:
        "200":
          description: Connection linked to environment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environmentConnectionMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      tags:
        - environments
      operationId: UnassignConnectionFromEnvironment
      summary: Unassign a connection from an environment
      description: |
        Removes a connection from this environment. The connection itself
        is not deleted and remains available for other environments.
      externalDocs:
        description: Managing environment connections
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/connectionId"
      responses:
        "200":
          description: Connection unlinked from environment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environmentConnectionMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
