openapi: 3.0.0
info:
  title: schedule
  description: Documentation for Meshery Cloud REST APIs for Schedules
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v1beta2
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL

security:
  - jwt: []

tags:
  - name: scheduler
    description: Operations related to scheduled tasks

paths:
  /user/schedules:
    get:
      x-internal: ["cloud"]
      tags:
        - scheduler
      summary: Get schedules
      operationId: getSchedules
      description: Returns all schedules for the authenticated user.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: Schedules response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchedulePage"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud"]
      tags:
        - scheduler
      summary: Create or update schedule
      operationId: upsertSchedule
      description: Creates or updates a schedule for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SchedulePayload"
      responses:
        "200":
          description: Schedule upserted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /user/schedules/{scheduleId}:
    get:
      x-internal: ["cloud"]
      tags:
        - scheduler
      summary: Get schedule by ID
      operationId: getSchedule
      description: Returns a specific schedule by its ID.
      parameters:
        - $ref: "#/components/parameters/scheduleId"
      responses:
        "200":
          description: Schedule response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - scheduler
      summary: Delete schedule
      operationId: deleteSchedule
      description: Deletes a schedule by its ID.
      parameters:
        - $ref: "#/components/parameters/scheduleId"
      responses:
        "204":
          description: Schedule deleted
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    404:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/404"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    scheduleId:
      name: scheduleId
      in: path
      description: Schedule ID
      required: true
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
    page:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/page"
    pageSize:
      name: pageSize
      in: query
      description: Get responses by page size
      schema:
        type: integer
    search:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/search"
    order:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/order"

  schemas:
    Schedule:
      type: object
      description: >
        A schedule defines a recurring cron-based trigger for performance tests
        or other automated tasks.
      required:
        - name
        - userId
        - cronExpression
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Unique identifier for the schedule.
          x-order: 1
          x-go-name: ID
          x-oapi-codegen-extra-tags:
            db: "id"
        name:
          type: string
          description: Human-readable name for the schedule.
          x-order: 2
          x-oapi-codegen-extra-tags:
            db: "name"
          minLength: 1
          maxLength: 255
        userId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: UUID of the user who owns this schedule.
          x-order: 3
          x-oapi-codegen-extra-tags:
            db: "owner"
            json: userId
        cronExpression:
          type: string
          description: >
            Cron expression defining the schedule's recurrence
            (e.g. "0 0 * * *" for daily at midnight).
          x-order: 4
          x-oapi-codegen-extra-tags:
            db: "cron_expression"
            json: cronExpression
          maxLength: 500
        lastRun:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
          description: >
            Server-computed timestamp of the schedule's most recent execution.
            Null until the first run completes. Server-managed; clients must
            not set this on create/update.
          x-order: 5
          x-oapi-codegen-extra-tags:
            db: "last_run"
            json: lastRun
        nextRun:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
          description: >
            Server-computed timestamp of the schedule's next planned execution,
            derived from the cron expression. Server-managed; clients must not
            set this on create/update.
          x-order: 6
          x-oapi-codegen-extra-tags:
            db: "next_run"
            json: nextRun
        createdAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the schedule was created.
          x-order: 7
          x-oapi-codegen-extra-tags:
            db: "created_at"
            json: createdAt
        updatedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the schedule was last updated.
          x-order: 8
          x-oapi-codegen-extra-tags:
            db: "updated_at"
            json: updatedAt

    SchedulePayload:
      type: object
      description: Payload for upserting a schedule. Includes only client-settable fields.
      required:
        - name
        - cronExpression
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Existing schedule ID for updates; omit on create.
          x-go-name: ID
          x-oapi-codegen-extra-tags:
            json: "id,omitempty"
        name:
          type: string
          description: Human-readable name for the schedule.
          minLength: 1
          maxLength: 255
        userId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Owner user ID; inferred from the authenticated user when omitted.
          x-oapi-codegen-extra-tags:
            json: "userId,omitempty"
        cronExpression:
          type: string
          description: >
            Cron expression defining the schedule's recurrence
            (e.g. "0 0 * * *" for daily at midnight).
          x-oapi-codegen-extra-tags:
            json: cronExpression
          maxLength: 500

    SchedulePage:
      type: object
      description: A paginated list of schedules.
      required:
        - page
        - pageSize
        - totalCount
        - schedules
      properties:
        page:
          type: integer
          description: Current page number (zero-based).
          x-order: 1
          minimum: 0
        pageSize:
          type: integer
          description: Number of schedules per page.
          x-order: 2
          minimum: 1
        totalCount:
          type: integer
          description: Total number of schedules across all pages.
          x-order: 3
          minimum: 0
        schedules:
          type: array
          items:
            $ref: "#/components/schemas/Schedule"
          x-order: 4
          description: The schedules of the schedulepage.
