openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for meshery Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshery.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-meshery.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
tags:
  - name: credentials
    description: APIs for Credentials
security:
  - jwt: []

components:
  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    credential:
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/id
        user_id:
          $ref: ./common/core.yml#/components/schemas/id
        name:
          $ref: ./common/core.yml#/components/schemas/text
        type:
          type: string
        secret:
          $ref: ./common/core.yml#/components/schemas/map_object
        created_at:
          $ref: ./common/core.yml#/components/schemas/created_at
        updated_at:
          $ref: ./common/core.yml#/components/schemas/updated_at
        deleted_at:
          $ref: ./common/core.yml#/components/schemas/deleted_at

    credentialsPage:
      allOf:
        - $ref: ./common/core.yml#/components/schemas/resultsPage
        - type: object
          properties:
            credential:
              type: array
              items:
                $ref: "#/components/schemas/credential"

  requestBodies:
    credentialBody:
      description: Body for user credential
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/credential"

  # any special parameters for this tag
  parameters:
    credentialId:
      name: credential_id
      in: query
      description: credential Id
      schema:
        type: string
      required: true

paths:
  /api/system/user/credentials:
    get:
      tags:
        - credentials
      operationId: GetUserCredentials
      summary: Get user's credentials
      description: Get all user's credentials for logged in user
      parameters:
        - $ref: ./common/parameters.yml#/components/parameters/page
        - $ref: ./common/parameters.yml#/components/parameters/page_size
        - $ref: ./common/parameters.yml#/components/parameters/search
        - $ref: ./common/parameters.yml#/components/parameters/order
      responses:
        "200":
          description: credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/credentialsPage"
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500
    delete:
      tags:
        - credentials
      operationId: DeleteUserCredential
      summary: Delete user's credentials
      description: Delete user's credentials (tombstoned records) for logged in user
      parameters:
        - $ref: "#/components/parameters/credentialId"
      responses:
        "200":
          $ref: ./common/responses.yml#/200
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500
    post:
      tags:
        - credentials
      operationId: SaveUserCredential
      summary: Create Credential
      description: Create new credentials for logged in user
      requestBody:
        $ref: "#/components/requestBodies/credentialBody"
      responses:
        "201":
          $ref: ./common/responses.yml#/201
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500
    put:
      tags:
        - credentials
      operationId: UpdateUserCredential
      summary: Update credential
      description: Update credentials for logged in user
      requestBody:
        $ref: "#/components/requestBodies/credentialBody"
      responses:
        "200":
          $ref: ./common/responses.yml#/200
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500
