openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for Meshery Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshery.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-meshery.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
security: 
  -  jwt: []
tags:
- name: meshery_models
  description: APIs for Meshery models
components:
  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    meshmodelModel:
      properties:
        id: 
          $ref: ./common/core.yml#/id
        name: 
          $ref: ./common/core.yml#/text
        version:
          $ref: ./common/core.yml#/text
        display_name:
          $ref: ./common/core.yml#/text
        status:
          $ref: ./common/core.yml#/text
        category_id:
          $ref: ./common/core.yml#/id 
        metadata:
          $ref:  ./common/core.yml#/map_object
        created_at:
          $ref: ./common/core.yml#/created_at
        updated_at:
          $ref: ./common/core.yml#/updated_at
        deleted_at:
          $ref: ./common/core.yml#/deleted_at
    meshmodelCategory:
      properties:
        id: 
          $ref: ./common/core.yml#/id
        name: 
          $ref: ./common/core.yml#/text
        metadata:
          $ref:  ./common/core.yml#/map_object
        created_at:
          $ref: ./common/core.yml#/created_at
        updated_at:
          $ref: ./common/core.yml#/updated_at
        deleted_at:
          $ref: ./common/core.yml#/deleted_at
    meshmodelCategoriesPage:
       allOf:
        - $ref: ./common/core.yml#/resultsPage
        - type: object
          properties:
            categories:
              type: array
              items:
                $ref: '#/components/schemas/meshmodelCategory'
    meshmodelModelsPage:
       allOf:
        - $ref: ./common/core.yml#/resultsPage
        - type: object
          properties:
            models:
              type: array
              items:
                $ref: '#/components/schemas/meshmodelModel'

paths:
  /api/integrations/meshmodels/models:
    get:
      tags:
        - meshery_models
        
      operationId: GetMeshModelModels
      summary: Get all models
      description: Get models by name
      parameters:
        - $ref: ./common/parameters.yml#/page
        - $ref: ./common/parameters.yml#/page_size
        - $ref: ./common/parameters.yml#/search
        - $ref: ./common/parameters.yml#/order
        - $ref: ./common/parameters.yml#/status
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meshmodelModelsPage'
        '500':
          $ref: ./common/responses.yml#/500
      security: []
  /api/integrations/meshmodels/categories:
    get:
      tags:
        - meshery_models
      operationId: GetMeshModelCategories
      summary: Get all categories
      description: Get models by technology category
      parameters:
        - $ref: ./common/parameters.yml#/page
        - $ref: ./common/parameters.yml#/page_size
        - $ref: ./common/parameters.yml#/search
        - $ref: ./common/parameters.yml#/order
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meshmodelCategoriesPage'
        '500':
          $ref: ./common/responses.yml#/500
      security: []
