openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for meshery Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshery.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-meshery.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
tags:
  - name: roles
    description: APIs for roles
security:
  - jwt: []
components:
  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    roleHolderRequest:
      type: object
      properties:
        role_names:
          $ref: ./common/core.yml#/components/schemas/roleNames
        email:
          $ref: ./common/core.yml#/components/schemas/email
      required: [role_names, email]

    role:
      type: object
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/id
        user_id:
          $ref: ./common/core.yml#/components/schemas/user_id
        username:
          $ref: ./common/core.yml#/components/schemas/username
        email:
          $ref: ./common/core.yml#/components/schemas/email
        first_name:
          $ref: ./common/core.yml#/components/schemas/text
          description: First Name
        last_name:
          $ref: ./common/core.yml#/components/schemas/text
          description: Last Name
        status:
          $ref: ./common/core.yml#/components/schemas/status
        role_names:
          $ref: ./common/core.yml#/components/schemas/roleNames
        created_at:
          $ref: ./common/core.yml#/components/schemas/time
        updated_at:
          $ref: ./common/core.yml#/components/schemas/time
        last_login_time:
          $ref: ./common/core.yml#/components/schemas/time
        deleted_at:
          $ref: ./common/core.yml#/components/schemas/time
        prefs:
          $ref: ./common/core.yml#/components/schemas/email_preference
      required:
        [
          id,
          user_id,
          username,
          email,
          first_name,
          last_name,
          status,
          role_names,
          created_at,
          updated_at,
          last_login_time,
          deleted_at,
        ]
paths:
  /system/roles:
    get:
      tags:
        - roles
      operationId: GetAllRoles
      summary: Get All Roles
      description: Get All supported roles
      responses:
        "200":
          description: Get all roles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500

    post:
      tags:
        - roles
      operationId: AddRoleHolder
      summary: Assign role
      description: Assign role to user
      requestBody:
        description: Body for assigning role to the user
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/roleHolderRequest"
      responses:
        "200":
          $ref: ./common/responses.yml#/200
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500

  /system/roles/edit:
    post:
      tags:
        - roles
      operationId: EditRoleHolder
      summary: Edit Role
      description: Edit role of user
      requestBody:
        description: Body for editing role of the user
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/role"
      responses:
        "200":
          $ref: ./common/responses.yml#/200
        "400":
          $ref: ./common/responses.yml#/400
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500

  /system/roles/edit/bulk:
    post:
      tags:
        - roles
      operationId: BulkEditRoleHolder
      summary: Bulk Edit Role
      description: Edit roles of user in bulk
      requestBody:
        description: Body for editing role of the users in bulk
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/role"
      responses:
        "201":
          $ref: ./common/responses.yml#/201
        "400":
          $ref: ./common/responses.yml#/400
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500

  /system/roles/{id}:
    delete:
      tags:
        - roles
      operationId: DeleteRole
      summary: Delete Role
      description: Edit roles of user in bulk
      parameters:
        - $ref: ./common/parameters.yml#/components/parameters/id
          required: true
      responses:
        "201":
          description: Deleted roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/role"
        "401":
          $ref: ./common/responses.yml#/401
        "500":
          $ref: ./common/responses.yml#/500
