openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for meshery Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshery.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-meshery.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
security:
  - jwt: []
tags:
  - name: workspaces
    description: Workspaces bring teams, environments, and designs together
components:
  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    workspace:
      properties:
        ID:
          $ref: ./common/core.yml#/components/schemas/general_id
        name:
          $ref: './common/core.yml#/components/schemas/text'
        description:
          $ref: './common/core.yml#/components/schemas/text'
        organization_id:
          $ref: ./common/core.yml#/components/schemas/organization_id
        owner:
          $ref: './common/core.yml#/components/schemas/text'
        created_at:
          $ref: './common/core.yml#/components/schemas/time'
        updated_at:
          $ref: './common/core.yml#/components/schemas/time'
        deleted_at:
          $ref: './common/core.yml#/components/schemas/nullTime'
    workspacesTeamsMapping:
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/general_id
        team_id:
          $ref: './common/core.yml#/components/schemas/id'
        workspace_id:
          $ref: './common/core.yml#/components/schemas/id'
        created_at:
          $ref: './common/core.yml#/components/schemas/time'
        updated_at:
          $ref: './common/core.yml#/components/schemas/time'
        deleted_at:
          $ref: './common/core.yml#/components/schemas/time'
    workspacesEnvironmentsMapping:
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/general_id
        environment_id:
          $ref: './common/core.yml#/components/schemas/id'
        workspace_id:
          $ref: './common/core.yml#/components/schemas/id'
        created_at:
          $ref: './common/core.yml#/components/schemas/time'
        updated_at:
          $ref: './common/core.yml#/components/schemas/time'
        deleted_at:
          $ref: './common/core.yml#/components/schemas/time'
    workspacesViewsMapping:
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/general_id
        view_id:
          $ref: './common/core.yml#/components/schemas/id'
        workspace_id:
          $ref: './common/core.yml#/components/schemas/id'
        created_at:
          $ref: './common/core.yml#/components/schemas/time'
        updated_at:
          $ref: './common/core.yml#/components/schemas/time'
        deleted_at:
          $ref: './common/core.yml#/components/schemas/time'
    workspacesDesignsMapping:
      properties:
        id:
          $ref: ./common/core.yml#/components/schemas/general_id
        design_id:
          $ref: './common/core.yml#/components/schemas/id'
        workspace_id:
          $ref: './common/core.yml#/components/schemas/id'
        created_at:
          $ref: './common/core.yml#/components/schemas/time'
        updated_at:
          $ref: './common/core.yml#/components/schemas/time'
        deleted_at:
          $ref: './common/core.yml#/components/schemas/time'
    workspaceUpdatePayload:
      properties:
        name:
          $ref: './common/core.yml#/components/schemas/text'
          description: Name of workspace
        description:
          $ref: './common/core.yml#/components/schemas/text'
          description: Environment description
        organization_id:
          type: string
          description: Organization ID
          x-go-type-skip-optional-pointer: true
          x-go-name: OrgId
          x-oapi-codegen-extra-tags:
            json: organization_id
      required:
        - organization_id
    workspacePayload:
      properties:
        name:
          $ref: './common/core.yml#/components/schemas/text'
          description: Name
        description:
          $ref: './common/core.yml#/components/schemas/text'
          description: Environment description
        organization_id:
          type: string
          description: Organization ID
          x-go-type-skip-optional-pointer: true
          x-go-name: OrgId
          x-oapi-codegen-extra-tags:
            json: organization_id
      required:
        - name
        - organization_
    workspacePage:
      properties:
        page:
          type: ./common/core.yml#/components/schemas/number
        page_size:
          type: ./common/core.yml#/components/schemas/number
        total_count:
          type: ./common/core.yml#/components/schemas/number
        environments:
          type: array
          items:
            $ref: '#/components/schemas/workspace'
  requestBodies:
    workspacePayload:
      description: Body for creating workspace
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/workspacePayload'
    workspaceUpdatePayload:
      description: Body for updating workspace
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/workspaceUpdatePayload'

# paths:
#   #designs
  # /api/workspaces:
  #   post:
  #     tags:
  #       - workspaces
  #     operationId: CreateWorkspace
  #     summary: Create an workspace
  #     description: Creates a new workspace
  #     parameters:
  #       - $ref: '#/components/parameters/orgID'
  #     requestBody:
  #       $ref: '#/components/requestBodies/workspacePayload'
  #     responses:
  #       '201':
  #         description: Created workspace
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspace'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetWorkspaces
  #     summary: Get all workspaces
  #     description: Gets all workspaces
  #     parameters:
  #       - $ref: '#/components/parameters/search'
  #       - $ref: '#/components/parameters/order'
  #       - $ref: '#/components/parameters/page'
  #       - $ref: '#/components/parameters/pagesize'
  #       - $ref: '#/components/parameters/filter'
  #       - $ref: '#/components/parameters/orgIDQuery'
  #     responses:
  #       '200':
  #         description: Workspaces
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacePage'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}:
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetWorkspaceByID
  #     summary: Get an workspace by ID
  #     description: Gets an workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/orgIDQuery'
  #     responses:
  #       '200':
  #         description: Workspace
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspace'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   delete:
  #     tags:
  #       - workspaces
  #     operationId: DeleteWorkspace
  #     summary: Delete an workspace
  #     description: Deletes an workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #     responses:
  #       '204':
  #         description: Workspace deleted successfully
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   put:
  #     tags:
  #       - workspaces
  #     operationId: UpdateWorkspace
  #     summary: Update an workspace
  #     description: Updates the workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #     requestBody:
  #       $ref: '#/components/requestBodies/workspaceUpdatePayload'
  #     responses:
  #       '200':
  #         $ref: '#/components/responses/200'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/teams:
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetTeamsOfWorkspace
  #     summary: Get all teams assigned to a workspace (by default returns assigned)
  #     description: Gets an Teams of a given workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/search'
  #       - $ref: '#/components/parameters/order'
  #       - $ref: '#/components/parameters/page'
  #       - $ref: '#/components/parameters/pagesize'
  #       - $ref: '#/components/parameters/workspaceFilter'
  #     responses:
  #       '200':
  #         description: Teams
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/teamsPage'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/teams/{teamId}:
  #   delete:
  #     tags:
  #       - workspaces
  #     operationId: UnassignTeamFromWorkspace
  #     summary: Unassign a team from a workspace
  #     description: Unassigns a team from a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/teamId'
  #     responses:
  #       '200':
  #         description: Workspaces teams mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesTeamsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   post:
  #     tags:
  #       - workspaces
  #     operationId: AssignTeamToWorkspace
  #     summary: Assign a team to a workspace
  #     description: Assigns a team to a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/teamId'
  #     responses:
  #       '200':
  #         description: Workspaces teams mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesTeamsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/environments:
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetEnvironmentsOfWorkspace
  #     summary: Get all environments assigned to a workspace (by default returns assigned)
  #     description: Gets an environments of a given workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/search'
  #       - $ref: '#/components/parameters/order'
  #       - $ref: '#/components/parameters/page'
  #       - $ref: '#/components/parameters/pagesize'
  #       - $ref: '#/components/parameters/workspaceFilter'
  #     responses:
  #       '200':
  #         description: Environment
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/environmentPage'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/environments/{environmentId}:
  #   delete:
  #     tags:
  #       - workspaces
  #     operationId: UnassignEnvironmentFromWorkspace
  #     summary: Unassign a environment from a workspace
  #     description: Unassigns a environment from a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/environmentId'
  #     responses:
  #       '200':
  #         description: Workspaces environments mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesEnvironmentsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   post:
  #     tags:
  #       - workspaces
  #     operationId: AssignEnvironmentToWorkspace
  #     summary: Assign a environment to a workspace
  #     description: Assigns a environment to a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/environmentId'
  #     responses:
  #       '200':
  #         description: Workspaces environments mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesEnvironmentsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/designs/{designId}:
  #   delete:
  #     tags:
  #       - workspaces
  #     operationId: UnassignDesignFromWorkspace
  #     summary: Unassign a design from a workspace
  #     description: Unassign a design from a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/designId'
  #     responses:
  #       '200':
  #         description: Workspaces designs mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesDesignsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   post:
  #     tags:
  #       - workspaces
  #     operationId: AssignDesignToWorkspace
  #     summary: Assign a design to a workspace
  #     description: Assigns a design to a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/designId'
  #     responses:
  #       '200':
  #         description: Workspaces designs mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesDesignsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/designs:
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetDesignsOfWorkspace
  #     summary: Get all designs assigned to a workspace (by default returns assigned)
  #     description: Gets an designs of a given workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/search'
  #       - $ref: '#/components/parameters/order'
  #       - $ref: '#/components/parameters/page'
  #       - $ref: '#/components/parameters/pagesize'
  #       - $ref: '#/components/parameters/workspaceFilter'
  #       - $ref: '#/components/parameters/workspaceId'
  #     responses:
  #       '200':
  #         description: Design
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/mesheryDesignPage'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/views/{viewId}:
  #   delete:
  #     tags:
  #       - workspaces
  #     operationId: UnassignViewFromWorkspace
  #     summary: Unassign a view from a workspace
  #     description: Unassign a view from a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/viewId'
  #     responses:
  #       '200':
  #         description: Workspaces views mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesViewsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  #   post:
  #     tags:
  #       - workspaces
  #     operationId: AssignViewToWorkspace
  #     summary: Assign a view to a workspace
  #     description: Assigns a view to a workspace
  #     parameters:
  #       - $ref: '#/components/parameters/workspaceId'
  #       - $ref: '#/components/parameters/viewId'
  #     responses:
  #       '200':
  #         description: Workspaces views mappings
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/workspacesViewsMapping'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/views:
  #   get:
  #     tags:
  #       - workspaces
  #     operationId: GetViewsOfWorkspace
  #     summary: Get all views assigned to a workspace (by default returns assigned)
  #     description: Gets views of a given workspace by its ID
  #     parameters:
  #       - $ref: '#/components/parameters/search'
  #       - $ref: '#/components/parameters/order'
  #       - $ref: '#/components/parameters/page'
  #       - $ref: '#/components/parameters/pagesize'
  #       - $ref: '#/components/parameters/workspaceFilter'
  #       - $ref: '#/components/parameters/workspaceId'
  #     responses:
  #       '200':
  #         description: View
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/mesheryViewPage'
  #       '400':
  #         $ref: '#/components/responses/400'
  #       '401':
  #         $ref: '#/components/responses/401'
  #       '404':
  #         $ref: '#/components/responses/404'
  #       '500':
  #         $ref: '#/components/responses/500'
  # /api/workspaces/{workspaceId}/events: