openapi: 3.0.0
info:
  title: design
  version: 1.0.0
paths:
  /api/pattern/import:
    post:
      summary: Import Design
      operationId: ImportDesign
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/MesheryPatternImportRequestBody"
      responses:
        "200":
          description: Successful Import
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: Invalid request format
        "500":
          description: Internal server error
components:
  schemas:
    DeletePatternModel:
      type: object
      properties:
        id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
        name:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"

    PatternFile:
      $ref: "./design.json"

    MesheryPattern:
      type: object
      properties:
        catalog_data:
          $ref: "../../v1alpha2/catalog/openapi.yml#/components/schemas/CatalogData"
          x-go-type: catalog.CatalogData
          x-go-type-import:
            path: github.com/meshery/schemas/models/v1alpha2/catalog

        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        user_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
        location:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/MapObject"
        name:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
        pattern_file:
          $ref: "#/components/schemas/PatternFile"
          x-go-type: PatternFile

        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
        visibility:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"

    MesheryPatternPage:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        patterns:
          type: array
          items:
            $ref: "#/components/schemas/MesheryPattern"
            x-go-type: MesheryPattern

        resultType:
          type: string
        total_count:
          type: integer

    MesheryPatternDeleteRequestBody:
      type: object
      properties:
        patterns:
          type: array
          items:
            $ref: "#/components/schemas/DeletePatternModel"
            x-go-type: DeletePatternModel

    MesheryPatternRequestBody:
      type: object
      properties:
        path:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
        pattern_data:
          $ref: "#/components/schemas/MesheryPattern"
          x-go-type: MesheryPattern
        save:
          type: boolean
        url:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Endpoint"
        name:
          type: string

    MesheryPatternImportRequestBody:
      type: object
      description: "Choose the method you prefer to upload your  design file. Select 'File Upload' if you have the file on your local system, or 'URL Import' if you have the file hosted online."
      enum:
        - file
        - url
      properties:
        file:
          type: string
          format: file
          description: "Supported formats: Kubernetes Manifests, Helm Charts, Docker Compose, and Meshery Designs. See [Import Designs Documentation](https://docs.meshery.io/guides/configuration-management/importing-designs#import-designs-using-meshery-ui) for details"
        file_name:
          type: string
          description: "The name of the pattern file being imported."
        name:
          type: string
          default: "Untitled Design"
          description: "Provide a name for your design file. This name will help you identify the file more easily. You can also change the name of your design after importing it."
        url:
          type: string
          format: uri
          description: "Provide the URL of the file you want to import. This should be a direct URL to a single file, for example: https://raw.github.com/your-design-file.yaml. Also, ensure that design is in a supported format: Kubernetes Manifest, Helm Chart, Docker Compose, or Meshery Design. See [Import Designs Documentation](https://docs.meshery.io/guides/configuration-management/importing-designs#import-designs-using-meshery-ui) for details"

    DesignPreferences:
      type: object
      description: Design-level preferences
      x-order: 7
      properties:
        layers:
          type: object
          description: List of available layers
      required:
        - layers
