openapi: 3.0.0
info:
  title: Team
  description: OpenAPI schema for team management in Meshery Cloud.
  version: v1beta2
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)

security:
  - jwt: []

tags:
  - name: teams
    description: A Team is a group of one or more users. Teams are used for assigning permissions in organizations and workspaces. Learn more at https://docs.meshery.io/concepts/logical/teams

components:
  responses:
    200:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/200"
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    404:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/404"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    teamId:
      name: teamId
      in: path
      description: Team ID
      schema:
        $ref: ../../v1alpha1/core/api.yml#/components/schemas/team_id
      required: true
    orgId:
      name: orgId
      in: path
      description: Organization ID
      schema:
        $ref: ../../v1alpha1/core/api.yml#/components/schemas/organization_id
      required: true
    userId:
      name: userId
      in: path
      description: User ID
      schema:
        $ref: ../../v1alpha1/core/api.yml#/components/schemas/user_id
      required: true
    search:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/search
    order:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/order
    page:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/page
    pagesize:
      $ref: ../../v1alpha1/core/api.yml#/components/parameters/pagesize

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Team:
      $ref: "./team.yaml"

    TeamPayload:
      type: object
      description: Payload for creating a new team
      required:
        - name
      properties:
        name:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Text
          description: Team name. Provide a meaningful name that represents this team.
        description:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Text
          description: A detailed description of the team's purpose and responsibilities.
        notifyTeamUpdate:
          type: boolean
          description: Whether to notify team members when the team is created or updated.
        metadata:
          type: object
          additionalProperties: true
          description: Additional client-supplied metadata for the team.

    TeamUpdatePayload:
      type: object
      description: Payload for updating an existing team
      properties:
        name:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Text
          description: Updated team name
        description:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Text
          description: Updated team description

    TeamPage:
      type: object
      description: Paginated list of teams
      properties:
        page:
          type: integer
          description: Current page number of the result set.
          minimum: 0
        page_size:
          type: integer
          description: Number of items per page.
          minimum: 1
        total_count:
          type: integer
          description: Total number of items available.
          minimum: 0
        teams:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Team
            $ref: "#/components/schemas/Team"
          description: The teams of the teampage.

    UsersTeamsMapping:
      type: object
      description: >
        Join row between users and teams. The schema name is `UsersTeamsMapping`
        (rather than `TeamsUsersMapping`) so that pop's tableize default produces
        the live DB table name `users_teams_mappings`, eliminating the need for
        an explicit `TableName()` helper on the generated Go struct.
      properties:
        id:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/general_id
          x-go-name: ID
        teamId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: Team ID
          x-oapi-codegen-extra-tags:
            db: team_id
            json: teamId
        userId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: User ID
          x-oapi-codegen-extra-tags:
            db: user_id
            json: userId
        roleId:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: >
            Optional role assigned to this team membership. Nullable because a
            membership may exist without an explicit role (e.g., team-admin
            assignments are stamped on insert; non-owner adds may leave
            `role_id` null until a role is assigned). References `roles.id`.
          x-oapi-codegen-extra-tags:
            db: role_id
            json: roleId,omitempty
        createdAt:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Time
          description: Timestamp when the mapping was created.
          x-oapi-codegen-extra-tags:
            db: created_at
            json: createdAt
        updatedAt:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/Time
          description: Timestamp when the mapping was last updated.
          x-oapi-codegen-extra-tags:
            db: updated_at
            json: updatedAt
        deletedAt:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/nullTime
          description: Timestamp when the mapping was soft-deleted, if applicable.
          x-oapi-codegen-extra-tags:
            db: deleted_at
            json: deletedAt

    UsersTeamsMappingPage:
      type: object
      description: Paginated list of user-team mappings
      properties:
        page:
          type: integer
          description: Current page number of the result set.
          minimum: 0
        page_size:
          type: integer
          description: Number of items per page.
          minimum: 1
        total_count:
          type: integer
          description: Total number of items available.
          minimum: 0
        usersTeamsMapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: UsersTeamsMapping
            $ref: "#/components/schemas/UsersTeamsMapping"
          description: The user-team mappings on the current page.

    TeamMember:
      type: object
      description: >
        A user who is a prospective or existing team member. Returned by the
        "list users in team" endpoint. `joinedAt` is the first canonicalised
        projection field — other user fields (`id`, `firstName`, `lastName`,
        `email`, `avatarUrl`) continue to flow through `additionalProperties`
        pending migration of the user schema to the canonical-casing
        contract. See meshery/schemas#832 for the per-field roadmap.
      additionalProperties: true
      properties:
        joinedAt:
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/nullTime
          description: >
            Timestamp when the user joined the team. Server-computed from the
            earliest matching row in `users_teams_mapping` for this
            (team, user) pair. Server-managed; clients cannot set this.
          x-oapi-codegen-extra-tags:
            db: joined_at
            json: joinedAt

    TeamMembersPage:
      type: object
      description: Paginated list of team members.
      properties:
        page:
          type: integer
          description: Current page number of the result set.
          minimum: 0
        page_size:
          type: integer
          description: Number of items per page.
          minimum: 1
        total_count:
          type: integer
          description: Total number of items available.
          minimum: 0
        data:
          type: array
          items:
            $ref: "#/components/schemas/TeamMember"
          description: The data of the teammemberspage.

  requestBodies:
    teamPayload:
      description: Body for creating a team
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TeamPayload"
    teamUpdatePayload:
      description: Body for updating a team
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TeamUpdatePayload"

paths:
  /api/identity/orgs/{orgId}/teams:
    get:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: getTeams
      summary: Get all teams for an organization
      description: Gets all teams within an organization
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamPage"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: createTeam
      summary: Create a team
      description: Creates a new team within an organization
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        $ref: "#/components/requestBodies/teamPayload"
      responses:
        "201":
          description: Created team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}:
    get:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: getTeamById
      summary: Get a team by ID
      description: Gets a team by its ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: updateTeam
      summary: Update a team
      description: Updates a team's information
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      requestBody:
        $ref: "#/components/requestBodies/teamUpdatePayload"
      responses:
        "200":
          description: Updated team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: deleteTeam
      summary: Delete a team
      description: Deletes a team by its ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "204":
          description: Team deleted
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/teams/{teamId}/users:
    get:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: getTeamUsers
      summary: Get all users in a team
      description: Gets all users that belong to a team
      parameters:
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Team users mapping
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersTeamsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}/users/{userId}:
    post:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: addUserToTeam
      summary: Add a user to a team
      description: Assigns a user to a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/userId"
      responses:
        "201":
          description: User added to team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersTeamsMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: removeUserFromTeam
      summary: Remove a user from a team
      description: Unassigns a user from a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: User removed from team
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}/users:
    get:
      x-internal: ["cloud", "meshery"]
      tags:
        - teams
      operationId: listUsersNotInTeam
      summary: Get users that are not in a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Users not currently in the team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamMembersPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
