openapi: 3.0.0
info:
  title: credential
  description: Documentation for Meshery Cloud REST APIs for Credentials
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v1beta1
servers:
  - url: https://cloud.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL

security:
  - jwt: []

tags:
  - name: credentials
    description: Operations related to integration credentials

paths:
  /api/integrations/credentials:
    get:
      x-internal: ["cloud"]
      tags:
        - credentials
      summary: Get credentials
      operationId: getUserCredentials
      description: Retrieves all credentials belonging to the authenticated user.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: Credentials response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialPage"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud"]
      tags:
        - credentials
      summary: Save credential
      operationId: saveUserCredential
      description: Saves a new credential for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
      responses:
        "201":
          description: Credential saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    put:
      x-internal: ["cloud"]
      tags:
        - credentials
      summary: Update credential
      operationId: updateUserCredential
      description: Updates an existing credential for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
      responses:
        "200":
          description: Credential updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - credentials
      summary: Delete credential
      operationId: deleteUserCredential
      description: Deletes a credential belonging to the authenticated user.
      parameters:
        - $ref: "#/components/parameters/credentialId"
      responses:
        "204":
          description: Credential deleted
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/integrations/credentials/{id}:
    get:
      x-internal: ["cloud"]
      tags:
        - credentials
      summary: Get credential by ID
      operationId: getCredentialById
      description: Retrieves a specific credential by its ID.
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Credential response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    400:
      $ref: "../core/api.yml#/components/responses/400"
    401:
      $ref: "../core/api.yml#/components/responses/401"
    404:
      $ref: "../core/api.yml#/components/responses/404"
    500:
      $ref: "../core/api.yml#/components/responses/500"

  parameters:
    id:
      name: id
      in: path
      description: Credential ID
      required: true
      schema:
        $ref: "../core/api.yml#/components/schemas/uuid"
    credentialId:
      name: credentialId
      in: query
      description: Credential ID
      required: true
      schema:
        $ref: "../core/api.yml#/components/schemas/uuid"
    page:
      $ref: "../core/api.yml#/components/parameters/page"
    pagesize:
      $ref: "../core/api.yml#/components/parameters/pagesize"
    search:
      $ref: "../core/api.yml#/components/parameters/search"
    order:
      $ref: "../core/api.yml#/components/parameters/order"

  schemas:
    Credential:
      type: object
      description: >
        Meshery Credentials store sensitive information such as API keys, tokens,
        and passwords used by connections to external systems.
      required:
        - name
        - type
      properties:
        id:
          $ref: "../core/api.yml#/components/schemas/uuid"
          description: Unique identifier for the credential.
          x-order: 1
          x-oapi-codegen-extra-tags:
            db: "id"
        name:
          type: string
          description: Human-readable name for the credential.
          x-order: 2
          x-oapi-codegen-extra-tags:
            db: "name"
          minLength: 1
          maxLength: 255
        user_id:
          $ref: "../core/api.yml#/components/schemas/uuid"
          description: UUID of the user who owns this credential.
          x-order: 3
          x-oapi-codegen-extra-tags:
            db: "user_id"
        type:
          type: string
          description: Credential type (e.g. token, basic, AWS).
          x-order: 4
          x-oapi-codegen-extra-tags:
            db: "type"
          maxLength: 255
        secret:
          type: object
          description: Key-value pairs containing the sensitive credential data.
          x-order: 5
          x-go-type: core.Map
          x-go-type-import:
            path: github.com/meshery/schemas/models/core
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: "secret"
        created_at:
          $ref: "../core/api.yml#/components/schemas/created_at"
          x-order: 6
        updated_at:
          $ref: "../core/api.yml#/components/schemas/updated_at"
          x-order: 7
        deleted_at:
          $ref: "../core/api.yml#/components/schemas/nullTime"
          description: Timestamp when the credential was soft-deleted.
          x-order: 8
          x-oapi-codegen-extra-tags:
            db: "deleted_at"

    CredentialPage:
      type: object
      description: A paginated list of credentials.
      required:
        - credentials
        - total_count
        - page
        - page_size
      properties:
        credentials:
          type: array
          items:
            $ref: "#/components/schemas/Credential"
            x-go-type: Credential
          x-order: 1
          description: The credentials of the credentialpage.
        total_count:
          type: integer
          description: Total number of credentials across all pages.
          x-order: 2
          minimum: 0
        page:
          type: integer
          description: Current page number (zero-based).
          x-order: 3
          minimum: 0
        page_size:
          type: integer
          description: Number of credentials per page.
          x-order: 4
          minimum: 1
