openapi: 3.0.0
info:
  title: role
  description: Documentation for Meshery Cloud REST APIs for Roles
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v1beta2
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL

security:
  - jwt: []

tags:
  - name: roles
    description: Operations related to roles and role assignments

paths:
  /api/identity/roles:
    post:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Add role holder
      operationId: addRoleHolder
      description: Assigns a role to a user identified by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleHolderRequest"
      responses:
        "201":
          description: Role holder added
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/roles/{roleId}:
    delete:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Delete role
      operationId: deleteRole
      description: Removes a role assignment by ID.
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "204":
          description: Role deleted
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/roles:
    get:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Get organization roles
      operationId: getAllRoles
      description: >-
        Returns all roles defined for the specified organization — the seeded
        system roles plus any custom roles the organization has created. This is
        the canonical, drift-free source for surfacing roles to tooling (role
        pickers, dropdown defaults, docs): role names are free-form, user-defined
        strings (User.roleNames and Role.roleName are open arrays, not an
        enumeration), so clients should list them here rather than hard-code a
        fixed set.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/all"
        - $ref: "#/components/parameters/selector"
        - $ref: "#/components/parameters/teamIdQuery"
      responses:
        "200":
          description: Roles response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RolesPage"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Upsert organization role
      operationId: upsertRole
      description: Creates or updates a role for the specified organization.
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RolePayload"
      responses:
        "200":
          description: Role upserted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Bulk edit role holders
      operationId: bulkEditRoleHolder
      description: Updates role assignments for multiple users in the organization.
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserRoleUpdateRequest"
      responses:
        "200":
          description: Role holders updated
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/roles/{roleId}/keychains:
    get:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Get keychains for role
      operationId: getRoleKeychains
      description: Returns all keychains assigned to the specified role.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/roleId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: Keychains response
          content:
            application/json:
              schema:
                x-go-type: "keychainv1beta1.KeychainPage"
                x-go-type-import:
                  path: "github.com/meshery/schemas/models/v1beta1/keychain"
                  name: keychainv1beta1
                $ref: "../../v1beta1/keychain/api.yml#/components/schemas/KeychainPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/roles/{roleId}/keychains/{keychainId}:
    post:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Assign keychain to role
      operationId: assignKeychainToRole
      description: Associates a keychain with the specified role.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/roleId"
        - $ref: "#/components/parameters/keychainId"
      responses:
        "200":
          description: Keychain assigned to role
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - roles
      summary: Unassign keychain from role
      operationId: unassignKeychainFromRole
      description: Removes the association between a keychain and a role.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/roleId"
        - $ref: "#/components/parameters/keychainId"
      responses:
        "204":
          description: Keychain unassigned from role
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    404:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/404"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    orgId:
      name: orgId
      in: path
      description: Organization ID
      required: true
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
    roleId:
      name: roleId
      in: path
      description: Role ID
      required: true
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
    keychainId:
      name: keychainId
      in: path
      description: Keychain ID
      required: true
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
    page:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/page"
    pageSize:
      name: pageSize
      in: query
      description: Get responses by page size
      schema:
        type: string
    search:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/search"
    order:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/order"
    all:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/all"
    selector:
      name: selector
      in: query
      description: Role grouping selector such as provider, organization, or team.
      schema:
        type: string
        maxLength: 100
    teamIdQuery:
      name: teamId
      in: query
      description: Team ID used when selector is team.
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"

  schemas:
    Role:
      type: object
      description: Role definition
      required:
        - roleName
        - description
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Unique identifier for the role.
          x-order: 1
          x-go-name: ID
          x-oapi-codegen-extra-tags:
            db: "id"
        roleName:
          type: string
          description: Unique name of the role.
          x-order: 2
          x-oapi-codegen-extra-tags:
            db: "role_name"
            json: roleName
          maxLength: 500
        description:
          type: string
          description: Human-readable description of the role.
          x-order: 3
          x-oapi-codegen-extra-tags:
            db: "description"
          maxLength: 5000
        createdAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the role was created.
          x-order: 4
          x-oapi-codegen-extra-tags:
            db: "created_at"
            json: createdAt
        updatedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the role was last updated.
          x-order: 5
          x-oapi-codegen-extra-tags:
            db: "updated_at"
            json: updatedAt
        deletedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
          description: Timestamp when the role was soft-deleted, if applicable.
          x-order: 6
          x-oapi-codegen-extra-tags:
            db: "deleted_at"
            json: deletedAt

    RolePayload:
      type: object
      description: Payload for upserting a role. Includes only client-settable fields.
      required:
        - roleName
        - description
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Existing role ID for updates; omit on create.
          x-go-name: ID
          x-oapi-codegen-extra-tags:
            json: "id,omitempty"
        roleName:
          type: string
          description: Unique name of the role.
          x-oapi-codegen-extra-tags:
            json: roleName
          maxLength: 500
        description:
          type: string
          description: Human-readable description of the role.
          maxLength: 5000

    RolesPage:
      type: object
      description: A paginated list of roles.
      required:
        - page
        - pageSize
        - totalCount
        - roles
      properties:
        page:
          type: integer
          description: Current page number (zero-based).
          x-order: 1
          minimum: 0
        pageSize:
          type: integer
          description: Number of roles per page.
          x-order: 2
          minimum: 1
        totalCount:
          type: integer
          description: Total number of roles across all pages.
          x-order: 3
          minimum: 0
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
            x-go-type: Role
          x-order: 4
          description: The roles of the rolespage.

    RolesKeychainsMapping:
      type: object
      description: Mapping between a role and a keychain.
      required:
        - id
        - keychainId
        - roleId
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Unique identifier for the mapping record.
          x-order: 1
          x-go-name: ID
          x-oapi-codegen-extra-tags:
            db: "id"
        keychainId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: UUID of the associated keychain.
          x-order: 2
          x-oapi-codegen-extra-tags:
            db: "keychain_id"
            json: keychainId
        roleId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: UUID of the associated role.
          x-order: 3
          x-oapi-codegen-extra-tags:
            db: "role_id"
            json: roleId
        createdAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the mapping was created.
          x-order: 4
          x-oapi-codegen-extra-tags:
            db: "created_at"
            json: createdAt
        updatedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the mapping was last updated.
          x-order: 5
          x-oapi-codegen-extra-tags:
            db: "updated_at"
            json: updatedAt
        deletedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
          description: Timestamp when the mapping was soft-deleted, if applicable.
          x-order: 6
          x-oapi-codegen-extra-tags:
            db: "deleted_at"
            json: deletedAt

    RoleHolderRequest:
      type: object
      description: Request body for assigning a role to a user.
      required:
        - email
        - roleNames
      properties:
        email:
          type: string
          format: email
          description: Email of the user to assign roles to.
          x-order: 1
          maxLength: 500
        roleNames:
          type: array
          items:
            type: string
            maxLength: 500
          description: List of role names to assign.
          x-order: 2

    UserRoleUpdateRequest:
      type: object
      description: Request to update role assignments for a user.
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: User ID of the user whose role assignments are being updated.
          x-order: 1
          x-go-name: ID
        userId:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Alternate field for identifying the user by ID.
          x-order: 2
          x-oapi-codegen-extra-tags:
            json: userId
        username:
          type: string
          x-order: 3
          description: The username of the user.
          maxLength: 500
        email:
          type: string
          format: email
          x-order: 4
          description: Email address of the user.
          maxLength: 500
        firstName:
          type: string
          x-order: 5
          description: First name of the user.
          maxLength: 500
        lastName:
          type: string
          x-order: 6
          description: Last name of the user.
          maxLength: 500
        status:
          type: string
          x-order: 7
          description: Current status of the user.
          maxLength: 255
        roleNames:
          type: array
          items:
            type: string
            maxLength: 500
          x-order: 8
          description: Role names currently or newly assigned to the user.
        createdAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the user was created.
          x-order: 9
          x-oapi-codegen-extra-tags:
            json: createdAt
        updatedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
          description: Timestamp when the user was last updated.
          x-order: 10
          x-oapi-codegen-extra-tags:
            json: updatedAt
        deletedAt:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
          description: Timestamp when the user was soft-deleted, if applicable.
          x-order: 11
          x-oapi-codegen-extra-tags:
            json: deletedAt

    Preference:
      type: object
      description: User notification preferences.
      required:
        - welcomeEmail
        - notifyRoleChange
      properties:
        welcomeEmail:
          type: boolean
          description: Whether to send a welcome email to new users.
          x-order: 1
        notifyRoleChange:
          type: boolean
          description: Whether to notify the user of role changes.
          x-order: 2
