openapi: 3.0.0
info:
  title: Team
  description: OpenAPI schema for team management in Meshery Cloud.
  version: v1beta1
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)

security:
  - jwt: []

tags:
  - name: teams
    description: A Team is a group of one or more users. Teams are used for assigning permissions in organizations and workspaces. Learn more at https://docs.meshery.io/concepts/logical/teams

components:
  responses:
    200:
      $ref: "../core/api.yml#/components/responses/200"
    400:
      $ref: "../core/api.yml#/components/responses/400"
    401:
      $ref: "../core/api.yml#/components/responses/401"
    404:
      $ref: "../core/api.yml#/components/responses/404"
    500:
      $ref: "../core/api.yml#/components/responses/500"

  parameters:
    teamId:
      name: teamId
      in: path
      description: Team ID
      schema:
        $ref: ../core/api.yml#/components/schemas/team_id
      required: true
    orgId:
      name: orgId
      in: path
      description: Organization ID
      schema:
        $ref: ../core/api.yml#/components/schemas/organization_id
      required: true
    search:
      $ref: ../core/api.yml#/components/parameters/search
    order:
      $ref: ../core/api.yml#/components/parameters/order
    page:
      $ref: ../core/api.yml#/components/parameters/page
    pagesize:
      $ref: ../core/api.yml#/components/parameters/pagesize

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Team:
      $ref: "./team.yaml"

    TeamPayload:
      type: object
      description: Payload for creating a new team
      required:
        - name
      properties:
        name:
          $ref: ../core/api.yml#/components/schemas/Text
          description: Team name. Provide a meaningful name that represents this team.
        description:
          $ref: ../core/api.yml#/components/schemas/Text
          description: A detailed description of the team's purpose and responsibilities.

    TeamUpdatePayload:
      type: object
      description: Payload for updating an existing team
      properties:
        name:
          $ref: ../core/api.yml#/components/schemas/Text
          description: Updated team name
        description:
          $ref: ../core/api.yml#/components/schemas/Text
          description: Updated team description

    TeamPage:
      type: object
      description: Paginated list of teams
      properties:
        page:
          $ref: ../core/api.yml#/components/schemas/number
        page_size:
          $ref: ../core/api.yml#/components/schemas/number
        total_count:
          $ref: ../core/api.yml#/components/schemas/number
        teams:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Team
            $ref: "#/components/schemas/Team"
          description: The teams of the teampage.

    TeamsUsersMapping:
      type: object
      description: Mapping between teams and users
      properties:
        id:
          $ref: ../core/api.yml#/components/schemas/general_id
          x-go-name: ID
        team_id:
          $ref: ../core/api.yml#/components/schemas/team_id
        user_id:
          $ref: ../core/api.yml#/components/schemas/user_id
          x-oapi-codegen-extra-tags:
            db: user_id
        created_at:
          $ref: ../core/api.yml#/components/schemas/created_at
        updated_at:
          $ref: ../core/api.yml#/components/schemas/updated_at
        deleted_at:
          $ref: ../core/api.yml#/components/schemas/nullTime
          x-oapi-codegen-extra-tags:
            db: deleted_at

    TeamsUsersMappingPage:
      type: object
      description: Paginated list of team-user mappings
      properties:
        page:
          $ref: ../core/api.yml#/components/schemas/number
        page_size:
          $ref: ../core/api.yml#/components/schemas/number
        total_count:
          $ref: ../core/api.yml#/components/schemas/number
        teamsUsersMapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: TeamsUsersMapping
            $ref: "#/components/schemas/TeamsUsersMapping"
          description: The teams users mapping of the teamsusersmappingpage.

    TeamMember:
      type: object
      additionalProperties: true

    TeamMembersPage:
      type: object
      properties:
        page:
          type: integer
          description: Current page number of the result set.
          minimum: 0
        page_size:
          type: integer
          description: Number of items per page.
          minimum: 1
        total_count:
          type: integer
          description: Total number of items available.
          minimum: 0
        data:
          type: array
          items:
            $ref: "#/components/schemas/TeamMember"
          description: The data of the teammemberspage.

  requestBodies:
    teamPayload:
      description: Body for creating a team
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TeamPayload"
    teamUpdatePayload:
      description: Body for updating a team
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TeamUpdatePayload"

paths:
  /api/identity/orgs/{orgId}/teams:
    get:
      tags:
        - teams
      operationId: getTeams
      summary: Get all teams for an organization
      description: Gets all teams within an organization
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamPage"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    post:
      tags:
        - teams
      operationId: createTeam
      summary: Create a team
      description: Creates a new team within an organization
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        $ref: "#/components/requestBodies/teamPayload"
      responses:
        "201":
          description: Created team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}:
    get:
      tags:
        - teams
      operationId: getTeamById
      summary: Get a team by ID
      description: Gets a team by its ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      tags:
        - teams
      operationId: updateTeam
      summary: Update a team
      description: Updates a team's information
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      requestBody:
        $ref: "#/components/requestBodies/teamUpdatePayload"
      responses:
        "200":
          description: Updated team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      tags:
        - teams
      operationId: deleteTeam
      summary: Delete a team
      description: Deletes a team by its ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "204":
          description: Team deleted
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/teams/{teamId}/users:
    get:
      tags:
        - teams
      operationId: getTeamUsers
      summary: Get all users in a team
      description: Gets all users that belong to a team
      parameters:
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Team users mapping
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsUsersMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}/users/{userId}:
    post:
      tags:
        - teams
      operationId: addUserToTeam
      summary: Add a user to a team
      description: Assigns a user to a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - name: userId
          in: path
          description: User ID
          schema:
            $ref: ../core/api.yml#/components/schemas/user_id
          required: true
      responses:
        "201":
          description: User added to team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsUsersMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      tags:
        - teams
      operationId: removeUserFromTeam
      summary: Remove a user from a team
      description: Unassigns a user from a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - name: userId
          in: path
          description: User ID
          schema:
            $ref: ../core/api.yml#/components/schemas/user_id
          required: true
      responses:
        "204":
          description: User removed from team
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/identity/orgs/{orgId}/teams/{teamId}/users:
    get:
      tags:
        - teams
      operationId: listUsersNotInTeam
      summary: Get users that are not in a team
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/teamId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
      responses:
        "200":
          description: Users not currently in the team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamMembersPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
