openapi: 3.0.0
info:
  title: Meshery Workspace API
  description: |
    REST API specification for Meshery Workspace resource management.
    
    ## Overview
    
    Workspaces serve as virtual spaces for team-based work, providing organizational
    boundaries for [Designs](https://docs.meshery.io/concepts/logical/designs),
    [Environments](https://docs.meshery.io/concepts/logical/environments), and 
    team access control within [Meshery](https://meshery.io).
    
    ## Key Concepts
    
    - **Workspace**: A container that groups related resources for team collaboration
    - **Environment**: Logical groupings of connections assigned to workspaces
    - **Design**: Infrastructure configuration files managed within workspaces
    - **Team**: Groups of users with access to workspace resources
    
    ## Resource Hierarchy
    
    ```
    Organization
    └── Workspace
        ├── Environments (assigned)
        ├── Designs (assigned)
        └── Teams (with access)
    ```
    
    ## Use Cases
    
    - Isolate resources by project, team, or business unit
    - Control access to sensitive infrastructure configurations
    - Organize designs and environments for specific purposes
    
    ## Documentation
    
    - [Workspaces Concept](https://docs.meshery.io/concepts/logical/workspaces)
    - [Teams & Access Control](https://docs.meshery.io/concepts/logical/teams)
    - [Meshery Architecture](https://docs.meshery.io/concepts/architecture)
  contact:
    name: Meshery Community
    url: https://meshery.io/community
    email: maintainers@meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v1beta1
  x-logo:
    url: https://raw.githubusercontent.com/meshery/meshery/master/docs/assets/img/meshery-logo.svg

externalDocs:
  description: Meshery Documentation
  url: https://docs.meshery.io

servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud (Production)
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud (Staging)
  - url: http://localhost:9876
    description: Local Development Server

security:
  - jwt: []

tags:
  - name: workspaces
    description: |
      Workspace management endpoints. Workspaces provide team-based organizational
      boundaries for managing [Designs](https://docs.meshery.io/concepts/logical/designs),
      [Environments](https://docs.meshery.io/concepts/logical/environments), and access control.
    externalDocs:
      description: Workspaces Documentation
      url: https://docs.meshery.io/concepts/logical/workspaces

paths:
  # ===========================================================================
  # Workspace Collection Endpoints
  # ===========================================================================
  /api/workspaces:
    get:
      tags:
        - workspaces
      operationId: GetWorkspaces
      summary: Get all workspaces
      description: |
        Retrieves a paginated list of all workspaces accessible to the authenticated user
        within the specified organization.
        
        ## Query Parameters
        
        - **search**: Filter workspaces by name or description (case-insensitive)
        - **order**: Sort results (e.g., `name asc`, `created_at desc`)
        - **page/pagesize**: Control pagination
        - **filter**: Advanced filtering options
        
        ## Permissions
        
        Users see workspaces based on their organization membership and team assignments.
        Organization admins can see all workspaces; regular users see only those their
        teams have access to.
        
        ## Related Documentation
        
        - [Workspaces Concept](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Workspaces documentation
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/orgIDQuery"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Successfully retrieved workspaces list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacePage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

    post:
      tags:
        - workspaces
      operationId: CreateWorkspace
      summary: Create a new workspace
      description: |
        Creates a new workspace within the specified organization.
        
        ## Request Body
        
        - **name** (required): A descriptive name for the workspace
        - **description**: Optional detailed description of the workspace's purpose
        - **organization_id** (required): The organization that will own this workspace
        
        ## Behavior
        
        - Creates workspace with the authenticated user as owner
        - Workspace is initially empty (no environments, designs, or teams)
        - Creator automatically has full access to the workspace
        
        ## Next Steps
        
        After creating a workspace, you typically:
        1. Assign teams for access control: `POST /api/workspaces/{id}/teams/{teamId}`
        2. Add environments: `POST /api/workspaces/{id}/environments/{environmentId}`
        3. Add designs: `POST /api/workspaces/{id}/designs/{designId}`
        
        ## Related Documentation
        
        - [Creating Workspaces](https://docs.meshery.io/concepts/logical/workspaces)
        - [Teams & Access Control](https://docs.meshery.io/concepts/logical/teams)
      externalDocs:
        description: Creating workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      requestBody:
        $ref: "#/components/requestBodies/workspacePayload"
      responses:
        "201":
          description: Workspace created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  # ===========================================================================
  # Single Workspace Endpoints
  # ===========================================================================
  /api/workspaces/{workspaceId}:
    get:
      tags:
        - workspaces
      operationId: GetWorkspaceByID
      summary: Get workspace by ID
      description: |
        Retrieves detailed information about a specific workspace by its unique identifier.
        
        ## Response
        
        Returns the complete workspace object including:
        - Basic metadata (id, name, description)
        - Organization association
        - Owner information
        - Timestamps (created_at, updated_at)
        
        ## Permissions
        
        User must belong to a team with access to this workspace, or be an organization admin.
        
        ## Related Documentation
        
        - [Workspaces Concept](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Workspaces documentation
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Successfully retrieved workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

    put:
      tags:
        - workspaces
      operationId: UpdateWorkspace
      summary: Update a workspace
      description: |
        Updates the properties of an existing workspace.
        
        ## Modifiable Fields
        
        - **name**: Can be updated to any valid string
        - **description**: Can be updated or cleared
        
        ## Immutable Fields
        
        The following cannot be changed after creation:
        - **organization_id**: Workspace cannot be moved between organizations
        - **id**: System-generated identifier
        - **owner**: Original creator remains the owner
        
        ## Permissions
        
        Requires workspace admin permissions or organization admin role.
        
        ## Related Documentation
        
        - [Managing Workspaces](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        $ref: "#/components/requestBodies/workspaceUpdatePayload"
      responses:
        "200":
          description: Workspace updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

    delete:
      tags:
        - workspaces
      operationId: DeleteWorkspace
      summary: Delete a workspace
      description: |
        Permanently deletes a workspace and all its resource associations.
        
        ## Warning
        
        **This action cannot be undone.** Before deleting a workspace:
        
        1. Verify no critical designs or configurations will be lost
        2. Consider exporting important designs first
        3. Inform team members who have access
        
        ## Behavior
        
        When a workspace is deleted:
        - All environment assignments are removed (environments themselves persist)
        - All design assignments are removed (designs themselves persist)
        - All team access mappings are removed
        - The workspace record is permanently deleted
        
        ## Permissions
        
        Only workspace owners and organization admins can delete workspaces.
        
        ## Related Documentation
        
        - [Managing Workspaces](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "204":
          description: Workspace deleted successfully
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  # ===========================================================================
  # Workspace Environment Management Endpoints
  # ===========================================================================
  /api/workspaces/{workspaceId}/environments:
    get:
      tags:
        - workspaces
      operationId: GetEnvironmentsOfWorkspace
      summary: Get environments assigned to a workspace
      description: |
        Retrieves a paginated list of all [Environments](https://docs.meshery.io/concepts/logical/environments)
        that are currently assigned to the specified workspace.
        
        ## Use Cases
        
        - View available infrastructure environments for a project
        - Build environment selector in workspace UI
        - Audit environment assignments
        
        ## Filtering
        
        Use the `filter` parameter to show:
        - `assigned`: Environments currently in this workspace (default)
        - `unassigned`: Environments that can be added to this workspace
        
        ## Related Documentation
        
        - [Environments Concept](https://docs.meshery.io/concepts/logical/environments)
        - [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Workspace environments
        url: https://docs.meshery.io/concepts/logical/environments
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/workspaceFilter"
      responses:
        "200":
          description: Successfully retrieved environments list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/environmentPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/environments/{environmentId}:
    post:
      tags:
        - workspaces
      operationId: AssignEnvironmentToWorkspace
      summary: Assign an environment to a workspace
      description: |
        Associates an [Environment](https://docs.meshery.io/concepts/logical/environments)
        with a workspace, making its connections available within the workspace context.
        
        ## Behavior
        
        - **Idempotent**: Calling multiple times with same parameters has no side effects
        - An environment can be assigned to **multiple workspaces**
        - Both the workspace and environment must exist and belong to the same organization
        
        ## Use Cases
        
        - Enable deployments to specific infrastructure within a workspace
        - Share environments across multiple project workspaces
        - Grant teams access to infrastructure through workspace assignment
        
        ## Permissions
        
        Requires admin access to both the workspace and the environment.
        
        ## Related Documentation
        
        - [Environments Concept](https://docs.meshery.io/concepts/logical/environments)
        - [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspace environments
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: Environment assigned to workspace successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesEnvironmentsMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

    delete:
      tags:
        - workspaces
      operationId: UnassignEnvironmentFromWorkspace
      summary: Remove an environment from a workspace
      description: |
        Removes the association between an [Environment](https://docs.meshery.io/concepts/logical/environments)
        and a workspace.
        
        ## Behavior
        
        - **Only the mapping is removed** — the environment itself is not deleted
        - The environment remains available for other workspaces
        - Teams lose access to this environment through this workspace
        
        ## Impact
        
        After removal:
        - Users cannot deploy to this environment from this workspace
        - The environment may still be accessible via other workspaces
        
        ## Related Documentation
        
        - [Environments Concept](https://docs.meshery.io/concepts/logical/environments)
        - [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspace environments
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: Environment removed from workspace successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesEnvironmentsMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  # ===========================================================================
  # Workspace Design Management Endpoints
  # ===========================================================================
  /api/workspaces/{workspaceId}/designs:
    get:
      tags:
        - workspaces
      operationId: GetDesignsOfWorkspace
      summary: Get designs assigned to a workspace
      description: |
        Retrieves a paginated list of all [Designs](https://docs.meshery.io/concepts/logical/designs)
        that are currently assigned to the specified workspace.
        
        ## What are Designs?
        
        Designs are infrastructure configuration files that define deployable configurations
        for cloud-native systems. They can include Kubernetes manifests, Helm charts,
        Docker Compose files, and more.
        
        ## Use Cases
        
        - List all designs available in a project workspace
        - Build design gallery or catalog view
        - Search for specific configurations
        
        ## Filtering
        
        Use the `filter` parameter to show:
        - `assigned`: Designs currently in this workspace (default)
        - `unassigned`: Designs that can be added to this workspace
        
        ## Related Documentation
        
        - [Designs Concept](https://docs.meshery.io/concepts/logical/designs)
        - [Design Import](https://docs.meshery.io/guides/importing-designs)
      externalDocs:
        description: Designs documentation
        url: https://docs.meshery.io/concepts/logical/designs
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/workspaceFilter"
      responses:
        "200":
          description: Successfully retrieved designs list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/designsPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/designs/{designId}:
    post:
      tags:
        - workspaces
      operationId: AssignDesignToWorkspace
      summary: Assign a design to a workspace
      description: |
        Associates a [Design](https://docs.meshery.io/concepts/logical/designs) with a workspace,
        making it accessible to teams with workspace access.
        
        ## Behavior
        
        - **Idempotent**: Calling multiple times with same parameters has no side effects
        - A design can be assigned to **multiple workspaces**
        - Both the workspace and design must exist
        
        ## Use Cases
        
        - Share infrastructure designs with project teams
        - Organize designs by project or environment
        - Enable collaborative design management
        
        ## Related Documentation
        
        - [Designs Concept](https://docs.meshery.io/concepts/logical/designs)
        - [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspace designs
        url: https://docs.meshery.io/concepts/logical/designs
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/designId"
      responses:
        "200":
          description: Design assigned to workspace successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesDesignsMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

    delete:
      tags:
        - workspaces
      operationId: UnassignDesignFromWorkspace
      summary: Remove a design from a workspace
      description: |
        Removes the association between a [Design](https://docs.meshery.io/concepts/logical/designs)
        and a workspace.
        
        ## Behavior
        
        - **Only the mapping is removed** — the design itself is not deleted
        - The design remains available for other workspaces
        - After removal, the design won't appear in this workspace's design list
        
        ## Related Documentation
        
        - [Designs Concept](https://docs.meshery.io/concepts/logical/designs)
        - [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
      externalDocs:
        description: Managing workspace designs
        url: https://docs.meshery.io/concepts/logical/designs
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/designId"
      responses:
        "200":
          description: Design removed from workspace successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesDesignsMapping"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

# =============================================================================
# Components
# =============================================================================
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Obtain tokens via the authentication flow.
        See [Authentication Guide](https://docs.meshery.io/extensibility/api#authentication) for details.

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      description: |
        Unique identifier of the workspace (UUID v4 format).
        Example: `550e8400-e29b-41d4-a716-446655440000`
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/Id"

    environmentId:
      name: environmentId
      in: path
      required: true
      description: |
        Unique identifier of the environment (UUID v4 format).
        Example: `f47ac10b-58cc-4372-a567-0e02b2c3d479`
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/Id"

    designId:
      name: designId
      in: path
      required: true
      description: |
        Unique identifier of the design (UUID v4 format).
        Example: `a1b2c3d4-e5f6-7890-abcd-ef1234567890`
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/Id"

    orgIDQuery:
      name: orgId
      in: query
      required: true
      description: |
        Organization ID to scope the request. All operations are scoped to a single organization.
        Users can only access workspaces within organizations they belong to.
      schema:
        type: string
        format: uuid
        example: "123e4567-e89b-12d3-a456-426614174000"

    search:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/search"

    order:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/order"

    page:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/page"

    pagesize:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/pagesize"

    filter:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/filter"

    workspaceFilter:
      name: filter
      in: query
      description: |
        Filter resources by assignment status:
        - `assigned`: Only resources currently assigned to this workspace
        - `unassigned`: Only resources available but not yet assigned
      schema:
        type: string
        enum:
          - assigned
          - unassigned
        default: assigned

  responses:
    "400":
      description: |
        **Bad Request**
        
        The request was malformed or contained invalid parameters. Common causes:
        - Invalid UUID format for IDs
        - Missing required fields in request body
        - Invalid query parameter values
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"

    "401":
      description: |
        **Unauthorized**
        
        Authentication failed. Possible causes:
        - Missing Authorization header
        - Expired JWT token
        - Invalid or malformed token
        
        See [Authentication Guide](https://docs.meshery.io/extensibility/api#authentication).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"

    "404":
      description: |
        **Not Found**
        
        The requested resource does not exist or you lack permission to access it.
        Possible causes:
        - Workspace, environment, or design ID does not exist
        - Resource belongs to a different organization
        - Resource was deleted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"

    "500":
      description: |
        **Internal Server Error**
        
        An unexpected error occurred. If this persists:
        1. Check [Meshery Status](https://meshery.io/status) for outages
        2. Report the issue on [GitHub](https://github.com/meshery/meshery/issues)
        3. Join [Meshery Slack](https://slack.meshery.io) for support
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"

  requestBodies:
    workspacePayload:
      description: |
        Request body for creating a new workspace.
        
        **Required fields**: `name`, `organization_id`
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspacePayload"
          example:
            name: "Production Project"
            description: "Workspace for production infrastructure and designs"
            organization_id: "123e4567-e89b-12d3-a456-426614174000"

    workspaceUpdatePayload:
      description: |
        Request body for updating an existing workspace.
        
        Only include fields you want to update. Omitted fields remain unchanged.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspaceUpdatePayload"
          example:
            name: "Production Project (Renamed)"
            description: "Updated description for the workspace"

  schemas:
    workspace:
      type: object
      description: |
        A workspace is a virtual container for team-based collaboration that organizes
        [Designs](https://docs.meshery.io/concepts/logical/designs) and
        [Environments](https://docs.meshery.io/concepts/logical/environments) with
        fine-grained access control.
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        organization_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/organization_id"
        owner:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacePayload:
      type: object
      description: |
        Payload for creating a new workspace. See [Workspaces](https://docs.meshery.io/concepts/logical/workspaces)
        for conceptual documentation.
      required:
        - name
        - organization_id
      properties:
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: |
            A human-readable name for the workspace. Best practices:
            - Use descriptive names that indicate the project or team (e.g., "Payment Service", "Platform Team")
            - Avoid special characters that may cause issues in URLs
            - Keep names concise but meaningful
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: |
            A detailed description of the workspace's purpose. Include:
            - What project or initiative this workspace supports
            - Which team(s) use this workspace
            - Any guidelines for organizing resources within
            
            Learn more: [Workspaces Guide](https://docs.meshery.io/concepts/logical/workspaces)
        organization_id:
          type: string
          format: uuid
          description: |
            The UUID of the organization that will own this workspace.
            **Cannot be changed after creation** — workspaces are permanently
            bound to their parent organization.
          x-go-type-skip-optional-pointer: true
          x-go-name: OrganizationID
          x-oapi-codegen-extra-tags:
            json: organization_id

    workspaceUpdatePayload:
      type: object
      description: Payload for updating an existing workspace. Only specified fields are modified.
      required:
        - organization_id
      properties:
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Updated name for the workspace
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Updated description for the workspace
        organization_id:
          type: string
          format: uuid
          description: Organization ID (required for authorization verification)
          x-go-type-skip-optional-pointer: true
          x-go-name: OrganizationID
          x-oapi-codegen-extra-tags:
            json: organization_id

    workspacePage:
      type: object
      description: |
        Paginated response containing a list of workspaces.
        Use `page` and `page_size` to implement pagination controls.
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces:
          type: array
          description: List of workspaces for the current page
          x-go-type-skip-optional-pointer: true
          items:
            $ref: "#/components/schemas/workspace"
            x-go-type: Workspace

    workspacesEnvironmentsMapping:
      type: object
      description: |
        Represents the association between a workspace and an environment.
        This mapping grants workspace users access to the environment's connections.
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        environment_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/environment_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesDesignsMapping:
      type: object
      description: |
        Represents the association between a workspace and a design.
        This mapping makes the design visible and usable within the workspace.
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        design_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/design_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesTeamsMapping:
      type: object
      description: |
        Represents the association between a workspace and a team.
        This mapping controls which teams have access to the workspace.
        See [Teams & Access Control](https://docs.meshery.io/concepts/logical/teams).
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        team_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/team_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesViewsMapping:
      type: object
      description: |
        Represents the association between a workspace and a view.
        Reserved for future use with workspace-scoped visualization settings.
      properties:
        id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        view_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/view_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    environmentPage:
      type: object
      description: |
        Paginated response containing environments assigned to a workspace.
        See [Environments](https://docs.meshery.io/concepts/logical/environments).
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        environments:
          type: array
          description: List of environments for the current page
          x-go-type-skip-optional-pointer: true
          items:
            $ref: "../environment/api.yml#/components/schemas/environment"

    designsPage:
      type: object
      description: |
        Paginated response containing designs assigned to a workspace.
        See [Designs](https://docs.meshery.io/concepts/logical/designs).
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        designs:
          type: array
          description: List of designs for the current page
          x-go-type-skip-optional-pointer: true
          items:
            $ref: "../design/api.yml#/components/schemas/MesheryPattern"

    errorResponse:
      type: object
      description: |
        Standard error response format for all API errors.
        Use the `code` field to programmatically handle different error types.
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Human-readable error message
          example: "Invalid workspace ID format"
        details:
          type: string
          description: Additional context or troubleshooting information
          example: "Expected UUID format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# =============================================================================
# Future Endpoints (Planned)
# =============================================================================
# The following endpoints are planned for future implementation.
# They are kept here as reference for the complete API design.
# =============================================================================

# /api/workspaces/{workspaceId}/teams:
#   get:
#     tags:
#       - workspaces
#     operationId: GetTeamsOfWorkspace
#     summary: Get all teams assigned to a workspace (by default returns assigned)
#     description: Gets an Teams of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#     responses:
#       '200':
#         description: Teams
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/teamsPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'

# /api/workspaces/{workspaceId}/teams/{teamId}:
#   post:
#     tags:
#       - workspaces
#     operationId: AssignTeamToWorkspace
#     summary: Assign a team to a workspace
#     description: Assigns a team to a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/teamId'
#     responses:
#       '200':
#         description: Workspaces teams mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesTeamsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
#   delete:
#     tags:
#       - workspaces
#     operationId: UnassignTeamFromWorkspace
#     summary: Unassign a team from a workspace
#     description: Unassigns a team from a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/teamId'
#     responses:
#       '200':
#         description: Workspaces teams mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesTeamsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'

# /api/workspaces/{workspaceId}/views:
#   get:
#     tags:
#       - workspaces
#     operationId: GetViewsOfWorkspace
#     summary: Get all views assigned to a workspace (by default returns assigned)
#     description: Gets views of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#       - $ref: '#/components/parameters/workspaceId'
#     responses:
#       '200':
#         description: View
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/mesheryViewPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'

# /api/workspaces/{workspaceId}/views/{viewId}:
#   post:
#     tags:
#       - workspaces
#     operationId: AssignViewToWorkspace
#     summary: Assign a view to a workspace
#     description: Assigns a view to a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/viewId'
#     responses:
#       '200':
#         description: Workspaces views mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesViewsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
#   delete:
#     tags:
#       - workspaces
#     operationId: UnassignViewFromWorkspace
#     summary: Unassign a view from a workspace
#     description: Unassign a view from a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/viewId'
#     responses:
#       '200':
#         description: Workspaces views mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesViewsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'

