openapi: 3.0.0
info:
  title: workspace
  description: API for managing Meshery Workspaces - logical groupings of designs, views, and resources for team collaboration.
  contact:
    email: maintainers@meshery.io
  version: v0.6.394
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
security:
  - jwt: []
tags:
  - name: workspaces
    description: Workspaces serve as a virtual space for your team-based work, allowing you to control access to designs and environments. You can update the workspace description at any time. Learn more about workspaces [here](https://docs.meshery.io/concepts/logical/workspaces).
paths:
  /api/workspaces:
    get:
      operationId: GetWorkspaces
      summary: Get all workspaces
      description: |
        Returns a paginated list of all workspaces in the organization.
        Use search and filters to narrow results.
      externalDocs:
        description: Learn more about Workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      tags:
        - workspaces
      parameters:
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Returns a list of workspaces with pagination metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacePage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    post:
      operationId: CreateWorkspace
      summary: Create a workspace
      description: |
        Creates a new workspace. Teams and environments can be assigned after creation.
        Note: The organization cannot be changed after the workspace is created.
      tags:
        - workspaces
      externalDocs:
        description: Learn more about Workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      requestBody:
        $ref: "#/components/requestBodies/workspacePayload"
      responses:
        "201":
          description: Workspace created. Assign teams and environments to start collaborating.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
  /api/workspaces/{workspaceId}:
    parameters:
      - $ref: "#/components/parameters/workspaceId"
    get:
      operationId: GetWorkspaceById
      summary: Get workspace by ID
      description: |
        Returns workspace details including name, description, organization, and owner.
      externalDocs:
        description: Workspaces overview
        url: https://docs.meshery.io/concepts/logical/workspaces
      tags:
        - workspaces
      parameters:
        - $ref: "#/components/parameters/orgIDQuery"
      responses:
        "200":
          description: Workspace details including name, description, and owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      operationId: UpdateWorkspace
      summary: Update workspace
      description: |
        Modifies a workspace's name or description. The organization cannot be
        changed after creation.
      externalDocs:
        description: Managing workspaces
        url: https://docs.meshery.io/concepts/logical/workspaces
      tags:
        - workspaces
      requestBody:
        $ref: "#/components/requestBodies/workspaceUpdatePayload"
      responses:
        "200":
          description: Workspace updated. Organization ID remains unchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    delete:
      operationId: DeleteWorkspace
      summary: Delete workspace
      description: |
        Permanently deletes a workspace and unlinks all teams, environments, and designs.
        The resources themselves are not deleted. This action cannot be undone.
      externalDocs:
        description: Workspace deletion
        url: https://docs.meshery.io/concepts/logical/workspaces
      tags:
        - workspaces
      responses:
        "204":
          description: Workspace deleted. All team/environment/design mappings removed.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/environments:
    get:
      operationId: GetEnvironmentsOfWorkspace
      tags:
        - workspaces
      summary: Get all environments assigned to a workspace
      description: |
        Returns a paginated list of environments assigned to this workspace.
      externalDocs:
        description: Workspace environments
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/workspaceFilter"
      responses:
        "200":
          description: List of environments linked to this workspace.
          content:
            application/json:
              schema:
                $ref: "../environment/openapi.yml#/components/schemas/environmentPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/designs:
    get:
      operationId: GetDesignsOfWorkspace
      tags:
        - workspaces
      summary: Get all designs assigned to a workspace
      description: |
        Returns a paginated list of designs assigned to this workspace.
      externalDocs:
        description: Workspace designs
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/workspaceFilter"
      responses:
        "200":
          description: List of designs linked to this workspace.
          content:
            application/json:
              schema:
                $ref: "../design/openapi.yml#/components/schemas/MesheryPatternPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
components:
  responses:
    "200":
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/200"
    "400":
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/400"
    "401":
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/401"
    "404":
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/404"
    "500":
      $ref: "../../v1alpha1/core/openapi.yml#/components/responses/500"

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      description: Unique identifier of the workspace
      required: true
      schema:
        $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
    environmentId:
      name: environmentId
      in: path
      description: Unique identifier of the environment
      required: true
      schema:
        $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
    designId:
      name: designId
      in: path
      description: Unique identifier of the design
      required: true
      schema:
        $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Id"
    search:
      $ref: "../../v1alpha1/core/openapi.yml#/components/parameters/search"
    order:
      $ref: "../../v1alpha1/core/openapi.yml#/components/parameters/order"
    page:
      $ref: "../../v1alpha1/core/openapi.yml#/components/parameters/page"
    pagesize:
      $ref: "../../v1alpha1/core/openapi.yml#/components/parameters/pagesize"
    filter:
      name: filter
      in: query
      description: |
        Filter results using a SQL-like syntax.
        Example: `name like '%default%'`
      required: false
      schema:
        type: string
    orgIDQuery:
      name: orgID
      in: query
      description: User's organization ID
      required: true
      schema:
        type: string
    workspaceFilter:
      name: filter
      in: query
      description: |
        Filter results within the workspace using a SQL-like syntax.
        Applies to the list of environments or designs being retrieved.
      required: false
      schema:
        type: string

  securitySchemes:
    jwt:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    workspace:
      properties:
        ID:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/general_id"
        name:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
        description:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
        organization_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/organization_id"
        owner:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/nullTime"
    workspacesTeamsMapping:
      properties:
        ID:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/general_id"
        team_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/team_id"
        workspace_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/nullTime"
    workspacesEnvironmentsMapping:
      properties:
        ID:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/general_id"
        environment_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/environment_id"
        workspace_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/nullTime"
    workspacesViewsMapping:
      properties:
        ID:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/general_id"
        view_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/view_id"
        workspace_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/nullTime"
    workspacesDesignsMapping:
      properties:
        ID:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/general_id"
        design_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/design_id"
        workspace_id:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/nullTime"
    workspaceUpdatePayload:
      properties:
        name:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
          description: Updated name for the workspace. Choose a name that clearly identifies the workspace's purpose.
        description:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
          description: Updated description for the workspace. Use this to clarify the workspace's purpose and contents.
    workspacePayload:
      properties:
        name:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
          description: Provide a name that meaningfully represents this workspace. You can change the name of the workspace even after its creation.
        description:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/Text"
          description: Workspaces serve as a virtual space for your team-based work, allowing you to control access and more. Provide a detailed description to clarify the purpose of this workspace. You can change the description at any time. Learn more about workspaces [here](https://docs.meshery.io/concepts/logical/workspaces).
        organization_id:
          type: string
          description: Select an organization in which you want to create this new workspace. Keep in mind that the organization cannot be changed after creation.
          x-go-type-skip-optional-pointer: true
          x-go-name: OrganizationID
          x-oapi-codegen-extra-tags:
            json: organization_id
      required:
        - name
        - organization_id
    workspacePage:
      properties:
        page:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/number"
        workspaces:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Workspace
            $ref: "#/components/schemas/workspace"
  requestBodies:
    workspacePayload:
      description: Request body for creating a new workspace.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspacePayload"
    workspaceUpdatePayload:
      description: Request body for updating workspace name or description.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspaceUpdatePayload"
# paths:
#   #designs
# /api/workspaces:
#   post:
#     tags:
#       - workspaces
#     operationId: CreateWorkspace
#     summary: Create an workspace
#     description: Creates a new workspace
#     parameters:
#       - $ref: '#/components/parameters/orgID'
#     requestBody:
#       $ref: '#/components/requestBodies/workspacePayload'
#     responses:
#       '201':
#         description: Created workspace
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspace'
#       '400':
#         $ref: '#/components/responses/400'
#       '500':
#         $ref: '#/components/responses/500'
#   get:
#     tags:
#       - workspaces
#     operationId: GetWorkspaces
#     summary: Get all workspaces
#     description: Gets all workspaces
#     parameters:
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/filter'
#       - $ref: '#/components/parameters/orgIDQuery'
#     responses:
#       '200':
#         description: Workspaces
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacePage'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}:
#   get:
#     tags:
#       - workspaces
#     operationId: GetWorkspaceByID
#     summary: Get an workspace by ID
#     description: Gets an workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/orgIDQuery'
#     responses:
#       '200':
#         description: Workspace
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspace'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
#   delete:
#     tags:
#       - workspaces
#     operationId: DeleteWorkspace
#     summary: Delete an workspace
#     description: Deletes an workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#     responses:
#       '204':
#         description: Workspace deleted successfully
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
#   put:
#     tags:
#       - workspaces
#     operationId: UpdateWorkspace
#     summary: Update an workspace
#     description: Updates the workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#     requestBody:
#       $ref: '#/components/requestBodies/workspaceUpdatePayload'
#     responses:
#       '200':
#         $ref: '#/components/responses/200'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/teams:
#   get:
#     tags:
#       - workspaces
#     operationId: GetTeamsOfWorkspace
#     summary: Get all teams assigned to a workspace (by default returns assigned)
#     description: Gets an Teams of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#     responses:
#       '200':
#         description: Teams
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/teamsPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/teams/{teamId}:
#   delete:
#     tags:
#       - workspaces
#     operationId: UnassignTeamFromWorkspace
#     summary: Unassign a team from a workspace
#     description: Unassigns a team from a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/teamId'
#     responses:
#       '200':
#         description: Workspaces teams mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesTeamsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
#   post:
#     tags:
#       - workspaces
#     operationId: AssignTeamToWorkspace
#     summary: Assign a team to a workspace
#     description: Assigns a team to a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/teamId'
#     responses:
#       '200':
#         description: Workspaces teams mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesTeamsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/environments:
#   get:
#     tags:
#       - workspaces
#     operationId: GetEnvironmentsOfWorkspace
#     summary: Get all environments assigned to a workspace (by default returns assigned)
#     description: Gets an environments of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#     responses:
#       '200':
#         description: Environment
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/environmentPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
  /api/workspaces/{workspaceId}/environments/{environmentId}:
    delete:
      tags:
        - workspaces
      operationId: UnassignEnvironmentFromWorkspace
      summary: Unassign an environment from a workspace
      description: |
        Removes an environment from this workspace. The environment itself
        is not deleted and remains available for other workspaces.
      externalDocs:
        description: Managing workspace environments
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment unlinked from workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspacesEnvironmentsMapping'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - workspaces
      operationId: AssignEnvironmentToWorkspace
      summary: Assign an environment to a workspace
      description: |
        Links an environment to this workspace. Creates an association allowing workspace members to access resources in the environment. Environments can belong to
        multiple workspaces.
      externalDocs:
        description: Managing workspace environments
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment linked to workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspacesEnvironmentsMapping'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /api/workspaces/{workspaceId}/designs/{designId}:
    delete:
      tags:
        - workspaces
      operationId: UnassignDesignFromWorkspace
      summary: Unassign a design from a workspace
      description: |
        Removes a design from this workspace. The design itself is not deleted
        and remains available for other workspaces.
      externalDocs:
        description: Managing workspace designs
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/designId'
      responses:
        '200':
          description: Design unlinked from workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspacesDesignsMapping'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - workspaces
      operationId: AssignDesignToWorkspace
      summary: Assign a design to a workspace
      description: |
        Links a design to this workspace. Creates an association allowing workspace members to access the design. A design can belong to multiple
        workspaces.
      externalDocs:
        description: Managing workspace designs
        url: https://docs.meshery.io/concepts/logical/workspaces
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/designId'
      responses:
        '200':
          description: Design linked to workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspacesDesignsMapping'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/designs:
#   get:
#     tags:
#       - workspaces
#     operationId: GetDesignsOfWorkspace
#     summary: Get all designs assigned to a workspace (by default returns assigned)
#     description: Gets an designs of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#       - $ref: '#/components/parameters/workspaceId'
#     responses:
#       '200':
#         description: Design
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/mesheryDesignPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/views/{viewId}:
#   delete:
#     tags:
#       - workspaces
#     operationId: UnassignViewFromWorkspace
#     summary: Unassign a view from a workspace
#     description: Unassign a view from a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/viewId'
#     responses:
#       '200':
#         description: Workspaces views mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesViewsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
#   post:
#     tags:
#       - workspaces
#     operationId: AssignViewToWorkspace
#     summary: Assign a view to a workspace
#     description: Assigns a view to a workspace
#     parameters:
#       - $ref: '#/components/parameters/workspaceId'
#       - $ref: '#/components/parameters/viewId'
#     responses:
#       '200':
#         description: Workspaces views mappings
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/workspacesViewsMapping'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/views:
#   get:
#     tags:
#       - workspaces
#     operationId: GetViewsOfWorkspace
#     summary: Get all views assigned to a workspace (by default returns assigned)
#     description: Gets views of a given workspace by its ID
#     parameters:
#       - $ref: '#/components/parameters/search'
#       - $ref: '#/components/parameters/order'
#       - $ref: '#/components/parameters/page'
#       - $ref: '#/components/parameters/pagesize'
#       - $ref: '#/components/parameters/workspaceFilter'
#       - $ref: '#/components/parameters/workspaceId'
#     responses:
#       '200':
#         description: View
#         content:
#           application/json:
#             schema:
#               $ref: '#/components/schemas/mesheryViewPage'
#       '400':
#         $ref: '#/components/responses/400'
#       '401':
#         $ref: '#/components/responses/401'
#       '404':
#         $ref: '#/components/responses/404'
#       '500':
#         $ref: '#/components/responses/500'
# /api/workspaces/{workspaceId}/events:

