openapi: 3.0.0
info:
  title: invitation
  description: OpenAPI schema for managing invitations
  version: v1beta1

tags:
  - name: Invitation
    description: Operations related to invitation
paths:

  /api/organizations/invitations/{invitationId}:

    get:
      x-internal: ["cloud"]
      operationId: getInvitation
      tags:
        - Invitation
      summary: Get an invitation by ID
      parameters:
        - $ref: "#/components/parameters/invitation_id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

    delete:
      x-internal: ["cloud"]
      operationId: deleteInvitation
      tags:
        - Invitation
      summary: Delete an invitation by ID
      parameters:
        - $ref: "#/components/parameters/invitation_id"
      responses:
        "204":
          description: Invitation deleted successfully
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

    put:
      x-internal: ["cloud"]
      operationId: updateInvitation
      tags:
        - Invitation
      summary: Update an existing invitation
      parameters:
        - $ref: "#/components/parameters/invitation_id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invitation"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /api/organizations/invitations:
    get:
      x-internal: ["cloud"]
      operationId: getInvitations
      tags:
        - Invitation
      summary: Get all invitations for the organization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationsPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud"]
      operationId: createInvitation
      tags:
        - Invitation
      summary: Create a new invitation for the organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invitation"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /api/organizations/invitations/{invitationId}/accept:
    post:
      x-internal: ["cloud"]
      operationId: acceptInvitation
      tags:
        - Invitation
      summary: Accept an invitation by ID
      parameters:
        - $ref: "#/components/parameters/invitation_id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

components:
  parameters:
    organization_id:
      name: organizationId
      in: path
      required: true
      description: The ID of the organization
      schema:
        type: string
    invitation_id:
      name: invitationId
      in: path
      required: true
      description: The ID of the invitation
      schema:
        type: string

  responses:
    400:
      description: Bad Request
    401:
      description: Unauthorized
    500:
      description: Internal Server Error

  schemas:
    uuid :
      $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/uuid"

    InvitationsPage:
      type: object
      required:
        - data
        - total
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Invitation"
            x-go-type: "Invitation"
          description: List of invitations
          x-oapi-codegen-extra-tags:
            json: "data"

        total:
          type: integer
          description: Total number of invitations available

          x-oapi-codegen-extra-tags:
            json: "total"


    InvitationStatus:
      type: string
      enum:
        - enabled
        - disabled
      description: "Status of the invitation, where
                    enabled means the invitation is active and can be used,
                    disabled means the invitation is no longer valid and is temporarily inactive,
                    disabled invitations can be re-enabled later."
    Invitation:
      type: object
      required:
        - id
        - owner_id
        - name
        - description
        - org_id
        - accepted_by
        - emails
        - roles
        - teams
        - status
        - created_at
        - updated_at
        - deleted_at
      properties:
        id:

          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/uuid"
          x-go-name: ID
          description: Unique identifier for the invitation , is also used as the invitation code

        owner_id:

          $ref: "../../v1alpha1/core/openapi.yml#/components/schemas/uuid"
          description: "ID of the user who created the invitation,
                        this is used to track who created the invitation and can be used for auditing purposes"

          x-oapi-codegen-extra-tags:
            db: "owner_id"
            json: "owner_id"

        is_default:
          type: boolean
          description: "Indicates whether the invitation is a default invitation (open invite),
                        which can be used to assign users when signing up from fqdn or custom domain,
                        a organization can only have one default invitation"

          x-oapi-codegen-extra-tags:
            db: "is_default"
            json: "is_default"

        name:
          type: string
          description: "Name of the invitation, which can be used to identify the invitation,
                        required and cant be empty string,"
        description:
          type: string
          description: "Description of the invitation, which can be used to provide additional information about the invitation,
                        null or empty string means the invitation does not have a description"

        emails:
          type: array
          x-go-type: "pq.StringArray"
          x-go-import: "github.com/lib/pq"
          items:
            type: string
            format: email
            x-go-type: "string"
            description: "Exact email address or the email address pattern for which the invitation is valid ,
                          null means the invitation is valid for all email addresses"

        org_id:
          type: string
          description: ID of the organization to which the user is invited
          x-oapi-codegen-extra-tags:
            db: "org_id"
            json: "org_id"

        expires_at:
          type: string
          format: date-time
          description: Timestamp when the invitation expires, if applicable , null or empty string means the invitation does not expire
          x-oapi-codegen-extra-tags:
            db: "expires_at"
            json: "expires_at"

        quota:
          type: integer
          description: "Quota for the invitation, which can be used to limit the number of users that can accept the invitation,
                        null or empty string means the invitation does not have a quota"

        accepted_by:
          type: array

          x-go-type: "pq.StringArray"
          items:
            type: string
          description: "List of user ids that have already accepted the invitation,
                          null or empty string means the invitation has not been used yet"
          x-oapi-codegen-extra-tags:
            db: "accepted_by"
            json: "accepted_by"

        roles:
          type: array

          x-go-type: "pq.StringArray"
          items:
            type: string
            description: "Roles that the user will have when accepting the invitation,
                          null or empty string means the invitation does not specify any roles"
        teams:
          type: array

          x-go-type: "pq.StringArray"
          items:
            type: string
            description: "Teams that the user will be added to when accepting the invitation,
                          null or empty string means the invitation does not specify any teams"

        status:
          type: string
          $ref: "#/components/schemas/InvitationStatus"
          x-go-type: "InvitationStatus"

        created_at:
          type: string
          format: date-time
          description: Timestamp when the invitation was created
          x-oapi-codegen-extra-tags:
            db: "created_at"
            json: "created_at"

        updated_at:
          type: string
          format: date-time
          description: Timestamp when the invitation was last updated
          x-oapi-codegen-extra-tags:
            db: "updated_at"
            json: "updated_at"

        deleted_at:
          type: string
          format: date-time
          x-go-type : "core.NullTime"
          description: Timestamp when the invitation was deleted, if applicable

          x-oapi-codegen-extra-tags:
            db: "deleted_at"
            json: "deleted_at"

