openapi: 3.0.0
info:
  title: token
  description: Documentation for Meshery Cloud REST APIs for user tokens and sessions
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v1beta3
servers:
- url: https://cloud.meshery.io
  description: Meshery Cloud production server URL
- url: https://staging-cloud.meshery.io
  description: Meshery Cloud staging server URL
- url: http://localhost:9876
  description: Meshery Cloud development server URL
security:
- jwt: []
tags:
- name: tokens
  description: Operations related to user tokens and sessions
paths:
  /api/identity/tokens:
    get:
      x-internal:
      - cloud
      tags:
      - tokens
      summary: Get tokens
      operationId: getUserTokens
      description: Retrieves tokens associated with the authenticated user.
      parameters:
      - $ref: '#/components/parameters/isOauth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/order'
      responses:
        '200':
          description: Tokens response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      x-internal:
      - cloud
      tags:
      - tokens
      summary: Generate token
      operationId: generateToken
      description: Generates a token for the authenticated user.
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/purpose'
      responses:
        '201':
          description: Token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      x-internal:
      - cloud
      tags:
      - tokens
      summary: Delete token
      operationId: deleteUserToken
      description: Deletes a specific token for the authenticated user.
      parameters:
      - $ref: '#/components/parameters/tokenIdQuery'
      responses:
        '200':
          description: Token deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /api/identity/tokens/{tokenId}:
    get:
      x-internal:
      - cloud
      tags:
      - tokens
      summary: Download token
      operationId: downloadToken
      description: Downloads a specific token by its ID for use as a local credential file (e.g. mesheryctl's auth.json). Gated by the Download Token permission and recorded as a distinct audit event from viewing or listing tokens.
      parameters:
      - $ref: '#/components/parameters/tokenId'
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /api/identity/tokens/infinite:
    get:
      x-internal:
      - cloud
      tags:
      - tokens
      summary: Issue indefinite lifetime token
      operationId: issueIndefiniteLifetimeToken
      description: Creates a non-expiring user token for provider admin use cases.
      parameters:
      - $ref: '#/components/parameters/userIdQuery'
      - $ref: '#/components/parameters/providerQuery'
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    400:
      $ref: ../../v1beta2/core/api.yml#/components/responses/400
    401:
      $ref: ../../v1beta2/core/api.yml#/components/responses/401
    404:
      $ref: ../../v1beta2/core/api.yml#/components/responses/404
    500:
      $ref: ../../v1beta2/core/api.yml#/components/responses/500
  parameters:
    tokenId:
      name: tokenId
      in: path
      description: Token ID
      required: true
      schema:
        $ref: ../../v1beta2/core/api.yml#/components/schemas/Uuid
    tokenIdQuery:
      name: tokenId
      in: query
      description: ID of the token to delete.
      required: true
      schema:
        $ref: ../../v1beta2/core/api.yml#/components/schemas/Uuid
    userIdQuery:
      # The deployed handler (IssueIndefiniteLifetimeToken) requires the
      # `userId` query param (legacy `user_id` fallback); `owner` was never
      # read and 400'd every generated-client call (schema/handler parity).
      name: userId
      in: query
      description: UUID of the user to issue the indefinite token for.
      required: true
      schema:
        $ref: ../../v1beta2/core/api.yml#/components/schemas/Uuid
    providerQuery:
      name: provider
      in: query
      description: Authentication provider to associate with the indefinite token.
      required: true
      schema:
        type: string
        maxLength: 500
    page:
      $ref: ../../v1beta2/core/api.yml#/components/parameters/page
    pageSize:
      $ref: ../../v1beta2/core/api.yml#/components/parameters/pageSize
    pagesize:
      name: pagesize
      in: query
      description: Get responses by pagesize. Deprecated alias of pageSize.
      deprecated: true
      schema:
        type: string
    search:
      $ref: ../../v1beta2/core/api.yml#/components/parameters/search
    order:
      $ref: ../../v1beta2/core/api.yml#/components/parameters/order
    isOauth:
      name: isOauth
      in: query
      description: Whether to retrieve OAuth-backed sessions instead of API tokens.
      schema:
        type: boolean
    name:
      name: name
      in: query
      description: Name of the token.
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 255
    purpose:
      name: purpose
      in: query
      description: Purpose for which the token is generated.
      schema:
        type: string
        maxLength: 500
  schemas:
    UserToken:
      $ref: ./token.yaml
    TokenPage:
      type: object
      description: A paginated list of tokens.
      required:
      - tokens
      - totalCount
      - page
      - pageSize
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/UserToken'
            x-go-type: UserToken
          x-order: 1
          description: Tokens returned on the current page.
        totalCount:
          type: integer
          description: Total number of tokens across all pages.
          minimum: 0
          x-go-type-skip-optional-pointer: true
          x-order: 2
          x-oapi-codegen-extra-tags:
            json: totalCount
        page:
          type: integer
          description: Current page number (zero-based).
          minimum: 0
          x-go-type-skip-optional-pointer: true
          x-order: 3
        pageSize:
          type: integer
          description: Number of tokens per page.
          minimum: 1
          x-go-type-skip-optional-pointer: true
          x-order: 4
          x-oapi-codegen-extra-tags:
            json: pageSize
