openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for Meshery Cloud REST APIs
  contact:
    email: maintainers@meshery.io
  version: v0.6.394
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: >
      Meshery Cloud development server URL (controlled via PORT environment
      variable)
  - url: http://localhost:8080
    description: Local development server
tags:
  - name: design_other
    x-displayName: other
  - name: model_other
    x-displayName: other
  - name: subscription_Subscriptions
    description: Operations related to subscriptions
    x-displayName: Subscriptions
  - name: subscription_Plans
    description: Operations related to plans
    x-displayName: Plans
  - name: subscription_Payment Processors
    description: Operations related to payment processors
    x-displayName: Payment Processors
  - name: subscription_subscription
    x-displayName: subscription
  - name: subscription_other
    x-displayName: other
  - name: plan_Plans
    description: Operations related to plans
    x-displayName: Plans
  - name: feature_Features
    description: Operations related to features and entitlements
    x-displayName: Features
  - name: workspace_workspaces
    description: >-
      Workspaces serve as a virtual space for your team-based work, allows you
      to control access and more, Provide a detailed description to clarify the
      purpose of this workspace. Remember you can changes description of
      workspace after it's creations too. Learn more about workspaces
      [here](https://docs.meshery.io/concepts/logical/workspaces).
    x-displayName: workspaces
  - name: environment_environments
    description: APIs for environments
    x-displayName: environments
  - name: evaluation_other
    x-displayName: other
paths:
  /api/pattern/import:
    post:
      summary: Import Design
      operationId: ImportDesign
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: >-
                Choose the method you prefer to upload your  design file. Select
                'File Upload' if you have the file on your local system, or 'URL
                Import' if you have the file hosted online.
              enum:
                - file
                - url
              properties:
                file:
                  type: string
                  format: file
                  description: >-
                    Supported formats: Kubernetes Manifests, Helm Charts, Docker
                    Compose, and Meshery Designs. See [Import Designs
                    Documentation](https://docs.meshery.io/guides/configuration-management/importing-designs#import-designs-using-meshery-ui)
                    for details
                file_name:
                  type: string
                  description: The name of the pattern file being imported.
                name:
                  type: string
                  default: Untitled Design
                  description: >-
                    Provide a name for your design file. This name will help you
                    identify the file more easily. You can also change the name
                    of your design after importing it.
                url:
                  type: string
                  format: uri
                  description: >-
                    Provide the URL of the file you want to import. This should
                    be a direct URL to a single file, for example:
                    https://raw.github.com/your-design-file.yaml. Also, ensure
                    that design is in a supported format: Kubernetes Manifest,
                    Helm Chart, Docker Compose, or Meshery Design. See [Import
                    Designs
                    Documentation](https://docs.meshery.io/guides/configuration-management/importing-designs#import-designs-using-meshery-ui)
                    for details
      responses:
        '200':
          description: Successful Import
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request format
        '500':
          description: Internal server error
      tags:
        - design_other
  /api/meshmodels/register:
    post:
      summary: Register mesh models
      operationId: RegisterMeshmodels
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - importBody
                - uploadType
                - register
              properties:
                importBody:
                  oneOf:
                    - title: File Import
                      type: object
                      required:
                        - fileName
                        - modelFile
                      properties:
                        fileName:
                          type: string
                          description: Name of the file being uploaded.
                        modelFile:
                          type: string
                          format: file
                          description: >-
                            Supported model file formats are: .tar, .tar.gz, and
                            .tgz. See [Import Models
                            Documentation](https://docs.meshery.io/guides/configuration-management/importing-models#import-models-using-meshery-ui)
                            for details
                    - title: URL Import
                      type: object
                      required:
                        - url
                      properties:
                        url:
                          type: string
                          format: uri
                          description: >-
                            A direct URL to a single model file, for example:
                            https://raw.github.com/your-model-file.tar.
                            Supported model file formats are: .tar, .tar.gz, and
                            .tgz. \n\nFor bulk import of your model use the
                            GitHub connection or CSV files. See [Import Models
                            Documentation](https://docs.meshery.io/guides/configuration-management/importing-models#import-models-using-meshery-ui)
                            for details
                    - title: CSV Import
                      type: object
                      required:
                        - modelCsv
                        - componentCsv
                        - relationshipCsv
                      properties:
                        modelCsv:
                          type: string
                          format: binary
                          description: Upload a CSV file containing model definitions
                        componentCsv:
                          type: string
                          format: binary
                          description: Upload a CSV file containing component definitions
                        relationshipCsv:
                          type: string
                          format: binary
                          description: >-
                            Upload a CSV file containing relationship
                            definitions
                    - title: Model Create
                      type: object
                      required:
                        - model
                        - url
                      properties:
                        url:
                          type: string
                          description: URI to the source code or package of the model.
                          format: uri
                          oneOf:
                            - title: GitHub
                              type: string
                              pattern: >-
                                ^git://github\.com/[\w.-]+/[\w.-]+(/[\w.-]+/[\w/-]+)?$
                              description: >-
                                Git protocol URL for GitHub repository or
                                specific resource path
                              example: >-
                                git://github.com/cert-manager/cert-manager/master/deploy/crds
                              x-metadata:
                                uiType: url
                                validationHint: >-
                                  Enter a git protocol URL (e.g.,
                                  git://github.com/owner/repo)
                            - title: Artifact Hub
                              type: string
                              pattern: >-
                                ^https:\/\/artifacthub\.io\/packages\/(search\?ts_query_web=[\w.-]+|[\w.-]+\/[\w.-]+\/[\w.-]+)$
                              description: >-
                                Artifact Hub package URL or search query URL
                                with model name parameter
                              example: >-
                                https://artifacthub.io/packages/search?ts_query_web={model-name}
                              x-metadata:
                                uiType: url
                                validationHint: >-
                                  Enter an Artifact Hub URL (e.g.,
                                  https://artifacthub.io/packages/search?ts_query_web={meshery-operator})
                uploadType:
                  type: string
                  title: Upload method
                  enum:
                    - file
                    - urlImport
                    - csv
                    - url
                  enumDescriptions:
                    - >-
                      Upload a model file (.tar, .tar.gz, .tgz) from your local
                      system
                    - Import a model file using a direct URL to the source
                    - >-
                      Upload separate CSV files for model definitions,
                      components, and their relationships
                  description: >-
                    Choose the method you prefer to upload your model file.
                    Select 'File Import' or 'CSV Import' if you have the file on
                    your local system or 'URL Import' if you have the file
                    hosted online.
                register:
                  type: boolean
                  nullable: false
      responses:
        '200':
          description: Successful registration
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request format
        '500':
          description: Internal server error
      tags:
        - model_other
  /api/entitlement/subscriptions:
    get:
      x-internal:
        - cloud
      tags:
        - subscription_subscription
      description: Returns all subscriptions for the organization
      operationId: getSubscriptions
      summary: Read subscriptions
      parameters:
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: string
        - name: pagesize
          in: query
          description: Get responses by pagesize
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
        - name: status
          in: query
          description: Filter subscriptions by status
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - page
                  - page_size
                  - total_count
                  - subscriptions
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total_count:
                    type: integer
                  subscriptions:
                    type: array
                    items:
                      x-go-type: Subscription
                      type: object
                      properties:
                        ID:
                          x-oapi-codegen-extra-tags:
                            db: id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        org_id:
                          x-oapi-codegen-extra-tags:
                            db: org_id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        plan_id:
                          x-oapi-codegen-extra-tags:
                            db: plan_id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        plan:
                          x-go-type: plan.Plan
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/v1beta1/plan
                          x-oapi-codegen-extra-tags:
                            belongs_to: plans
                            fk_id: PlanId
                            yaml: plan,omitempty
                            json: plan,omitempty
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: >-
                                A Universally Unique Identifier used to uniquely
                                identify entities in Meshery. The UUID core
                                definition is used across different schemas.
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                            name:
                              type: string
                              x-go-type: PlanName
                              description: Name of the plan
                              enum:
                                - Free
                                - Team Designer
                                - Team Operator
                                - Enterprise
                            cadence:
                              x-go-type: PlanCadence
                              type: string
                              enum:
                                - monthly
                                - yearly
                            unit:
                              x-go-type: PlanUnit
                              type: string
                              enum:
                                - user
                                - free
                            price_per_unit:
                              type: number
                              description: Price per unit of the plan
                              x-oapi-codegen-extra-tags:
                                db: price_per_unit
                            currency:
                              x-go-type: Currency
                              type: string
                              enum:
                                - usd
                          required:
                            - id
                            - name
                            - cadence
                            - unit
                            - price_per_unit
                            - price_id
                            - currency
                        quantity:
                          decscription: number of units subscribed (eg number of users)
                          type: integer
                          x-oapi-codegen-extra-tags:
                            db: quantity
                        start_date:
                          x-oapi-codegen-extra-tags:
                            db: start_date
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        end_date:
                          x-oapi-codegen-extra-tags:
                            db: end_date
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        status:
                          x-go-type: SubscriptionStatus
                          x-oapi-codegen-extra-tags:
                            db: status
                          type: string
                          description: Possible statuses of a Stripe subscription.
                          enum:
                            - incomplete
                            - incomplete_expired
                            - trialing
                            - active
                            - past_due
                            - canceled
                            - unpaid
                          x-enumDescriptions:
                            incomplete: >-
                              The subscription has been created, but the initial
                              payment is pending. It may transition to 'active'
                              or 'incomplete_expired'.
                            incomplete_expired: >-
                              The subscription was created but never activated
                              due to failed initial payment. It is now expired.
                            trialing: >-
                              The subscription is currently in a trial period
                              before the first payment is due.
                            active: >-
                              The subscription is active, and billing is
                              functioning normally.
                            past_due: >-
                              The latest payment attempt failed, but the
                              subscription remains active. Stripe may retry the
                              charge.
                            canceled: >-
                              The subscription has been canceled and will no
                              longer generate invoices.
                            unpaid: >-
                              The subscription is still technically active but
                              has unpaid invoices and is no longer generating
                              new invoices.
                        created_at:
                          x-oapi-codegen-extra-tags:
                            db: created_at
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        updated_at:
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        deleted_at:
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                          type: string
                          format: date-time
                          x-go-type: sql.NullTime
                          x-go-type-import:
                            path: database/sql
                          x-go-type-skip-optional-pointer: true
                        billing_id:
                          type: string
                          description: >-
                            Billing ID of the subscription. This is the ID of
                            the subscription in the billing system. eg Stripe
                          x-oapi-codegen-extra-tags:
                            db: billing_id
                      required:
                        - ID
                        - org_id
                        - plan_id
                        - billing_id
                        - status
                        - quantity
          description: Get subscription response
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/entitlement/subscriptions/{subscriptionId}/cancel:
    post:
      x-internal:
        - cloud
      summary: Cancel an existing subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Subscription ID
          schema:
            type: string
      responses:
        '200':
          description: Subscription created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - page
                  - page_size
                  - total_count
                  - subscriptions
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total_count:
                    type: integer
                  subscriptions:
                    type: array
                    items:
                      x-go-type: Subscription
                      type: object
                      properties:
                        ID:
                          x-oapi-codegen-extra-tags:
                            db: id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        org_id:
                          x-oapi-codegen-extra-tags:
                            db: org_id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        plan_id:
                          x-oapi-codegen-extra-tags:
                            db: plan_id
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        plan:
                          x-go-type: plan.Plan
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/v1beta1/plan
                          x-oapi-codegen-extra-tags:
                            belongs_to: plans
                            fk_id: PlanId
                            yaml: plan,omitempty
                            json: plan,omitempty
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: >-
                                A Universally Unique Identifier used to uniquely
                                identify entities in Meshery. The UUID core
                                definition is used across different schemas.
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                            name:
                              type: string
                              x-go-type: PlanName
                              description: Name of the plan
                              enum:
                                - Free
                                - Team Designer
                                - Team Operator
                                - Enterprise
                            cadence:
                              x-go-type: PlanCadence
                              type: string
                              enum:
                                - monthly
                                - yearly
                            unit:
                              x-go-type: PlanUnit
                              type: string
                              enum:
                                - user
                                - free
                            price_per_unit:
                              type: number
                              description: Price per unit of the plan
                              x-oapi-codegen-extra-tags:
                                db: price_per_unit
                            currency:
                              x-go-type: Currency
                              type: string
                              enum:
                                - usd
                          required:
                            - id
                            - name
                            - cadence
                            - unit
                            - price_per_unit
                            - price_id
                            - currency
                        quantity:
                          decscription: number of units subscribed (eg number of users)
                          type: integer
                          x-oapi-codegen-extra-tags:
                            db: quantity
                        start_date:
                          x-oapi-codegen-extra-tags:
                            db: start_date
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        end_date:
                          x-oapi-codegen-extra-tags:
                            db: end_date
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        status:
                          x-go-type: SubscriptionStatus
                          x-oapi-codegen-extra-tags:
                            db: status
                          type: string
                          description: Possible statuses of a Stripe subscription.
                          enum:
                            - incomplete
                            - incomplete_expired
                            - trialing
                            - active
                            - past_due
                            - canceled
                            - unpaid
                          x-enumDescriptions:
                            incomplete: >-
                              The subscription has been created, but the initial
                              payment is pending. It may transition to 'active'
                              or 'incomplete_expired'.
                            incomplete_expired: >-
                              The subscription was created but never activated
                              due to failed initial payment. It is now expired.
                            trialing: >-
                              The subscription is currently in a trial period
                              before the first payment is due.
                            active: >-
                              The subscription is active, and billing is
                              functioning normally.
                            past_due: >-
                              The latest payment attempt failed, but the
                              subscription remains active. Stripe may retry the
                              charge.
                            canceled: >-
                              The subscription has been canceled and will no
                              longer generate invoices.
                            unpaid: >-
                              The subscription is still technically active but
                              has unpaid invoices and is no longer generating
                              new invoices.
                        created_at:
                          x-oapi-codegen-extra-tags:
                            db: created_at
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        updated_at:
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        deleted_at:
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                          type: string
                          format: date-time
                          x-go-type: sql.NullTime
                          x-go-type-import:
                            path: database/sql
                          x-go-type-skip-optional-pointer: true
                        billing_id:
                          type: string
                          description: >-
                            Billing ID of the subscription. This is the ID of
                            the subscription in the billing system. eg Stripe
                          x-oapi-codegen-extra-tags:
                            db: billing_id
                      required:
                        - ID
                        - org_id
                        - plan_id
                        - billing_id
                        - status
                        - quantity
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      tags:
        - subscription_other
  /api/entitlement/subscriptions/create:
    post:
      x-internal:
        - cloud
      summary: Create a new subscription for an organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_id:
                  type: string
                  description: Organization ID
                plan_id:
                  type: string
                  description: Price ID from the payment processor
                user_count:
                  type: integer
                  description: Number of users in the organization
                email:
                  type: string
                  format: email
                  description: Email of the customer
                payment_processor:
                  type: string
                  enum:
                    - stripe
                    - paypal
                    - braintree
                  description: Supported payment processors
      responses:
        '200':
          description: Subscription created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription_id:
                    type: string
                  clientSecret:
                    type: string
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      tags:
        - subscription_other
  /api/entitlement/subscriptions/webhooks:
    post:
      x-internal:
        - cloud
      summary: Handle webhook events from payment processors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for webhook events from payment processors
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          description: Invalid webhook event
      tags:
        - subscription_other
  /api/entitlement/plans:
    get:
      x-internal:
        - cloud
      operationId: getPlans
      tags:
        - plan_Plans
      summary: Get all plans supported by the system
      responses:
        '200':
          description: Plans fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entities in Meshery. The UUID core definition
                        is used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    name:
                      type: string
                      x-go-type: PlanName
                      description: Name of the plan
                      enum:
                        - Free
                        - Team Designer
                        - Team Operator
                        - Enterprise
                    cadence:
                      x-go-type: PlanCadence
                      type: string
                      enum:
                        - monthly
                        - yearly
                    unit:
                      x-go-type: PlanUnit
                      type: string
                      enum:
                        - user
                        - free
                    price_per_unit:
                      type: number
                      description: Price per unit of the plan
                      x-oapi-codegen-extra-tags:
                        db: price_per_unit
                    currency:
                      x-go-type: Currency
                      type: string
                      enum:
                        - usd
                  required:
                    - id
                    - name
                    - cadence
                    - unit
                    - price_per_unit
                    - price_id
                    - currency
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /api/entitlement/features:
    get:
      x-internal:
        - cloud
      operationId: getFeatures
      tags:
        - feature_Features
      summary: Get all features associated with plans
      responses:
        '200':
          description: Features fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  x-go-type: Feature
                  type: object
                  required:
                    - id
                    - plan_id
                    - quantity
                    - feature
                  properties:
                    id:
                      x-oapi-codegen-extra-tags:
                        db: id
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entities in Meshery. The UUID core definition
                        is used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan_id:
                      x-oapi-codegen-extra-tags:
                        db: plan_id
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entities in Meshery. The UUID core definition
                        is used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan:
                      x-go-type: plan.Plan
                      x-go-type-import:
                        path: github.com/meshery/schemas/models/v1beta1/plan
                      x-oapi-codegen-extra-tags:
                        belongs_to: plans
                        fk_id: PlanId
                        yaml: plan,omitempty
                        json: plan,omitempty
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        name:
                          type: string
                          x-go-type: PlanName
                          description: Name of the plan
                          enum:
                            - Free
                            - Team Designer
                            - Team Operator
                            - Enterprise
                        cadence:
                          x-go-type: PlanCadence
                          type: string
                          enum:
                            - monthly
                            - yearly
                        unit:
                          x-go-type: PlanUnit
                          type: string
                          enum:
                            - user
                            - free
                        price_per_unit:
                          type: number
                          description: Price per unit of the plan
                          x-oapi-codegen-extra-tags:
                            db: price_per_unit
                        currency:
                          x-go-type: Currency
                          type: string
                          enum:
                            - usd
                      required:
                        - id
                        - name
                        - cadence
                        - unit
                        - price_per_unit
                        - price_id
                        - currency
                    name:
                      x-go-type: FeatureName
                      x-oapi-codegen-extra-tags:
                        db: name
                      type: string
                      enum:
                        - ComponentsInDesign
                        - RelationshipsInDesign
                        - DesignsInWorkspace
                        - WorkspacesInOrganization
                        - ImageSizeInDesign
                        - SizePerDesign
                      description: Enumeration of possible feature types
                    quantity:
                      type: number
                      description: >-
                        Quantity of the feature allowed, use 9999999999 for
                        unlimited
                      x-oapi-codegen-extra-tags:
                        db: quantity
                    created_at:
                      x-oapi-codegen-extra-tags:
                        db: created_at
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      x-oapi-codegen-extra-tags:
                        db: updated_at
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                  additionalProperties: false
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/entitlement/subscriptions/organizations/{organizationId}/features:
    get:
      x-internal:
        - cloud
      operationId: getFeaturesByOrganization
      tags:
        - feature_Features
      summary: Get all features associated with plans
      parameters:
        - name: organizationId
          in: path
          description: The ID of the organization
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '200':
          description: Features fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  x-go-type: Feature
                  type: object
                  required:
                    - id
                    - plan_id
                    - quantity
                    - feature
                  properties:
                    id:
                      x-oapi-codegen-extra-tags:
                        db: id
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entities in Meshery. The UUID core definition
                        is used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan_id:
                      x-oapi-codegen-extra-tags:
                        db: plan_id
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entities in Meshery. The UUID core definition
                        is used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan:
                      x-go-type: plan.Plan
                      x-go-type-import:
                        path: github.com/meshery/schemas/models/v1beta1/plan
                      x-oapi-codegen-extra-tags:
                        belongs_to: plans
                        fk_id: PlanId
                        yaml: plan,omitempty
                        json: plan,omitempty
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely
                            identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        name:
                          type: string
                          x-go-type: PlanName
                          description: Name of the plan
                          enum:
                            - Free
                            - Team Designer
                            - Team Operator
                            - Enterprise
                        cadence:
                          x-go-type: PlanCadence
                          type: string
                          enum:
                            - monthly
                            - yearly
                        unit:
                          x-go-type: PlanUnit
                          type: string
                          enum:
                            - user
                            - free
                        price_per_unit:
                          type: number
                          description: Price per unit of the plan
                          x-oapi-codegen-extra-tags:
                            db: price_per_unit
                        currency:
                          x-go-type: Currency
                          type: string
                          enum:
                            - usd
                      required:
                        - id
                        - name
                        - cadence
                        - unit
                        - price_per_unit
                        - price_id
                        - currency
                    name:
                      x-go-type: FeatureName
                      x-oapi-codegen-extra-tags:
                        db: name
                      type: string
                      enum:
                        - ComponentsInDesign
                        - RelationshipsInDesign
                        - DesignsInWorkspace
                        - WorkspacesInOrganization
                        - ImageSizeInDesign
                        - SizePerDesign
                      description: Enumeration of possible feature types
                    quantity:
                      type: number
                      description: >-
                        Quantity of the feature allowed, use 9999999999 for
                        unlimited
                      x-oapi-codegen-extra-tags:
                        db: quantity
                    created_at:
                      x-oapi-codegen-extra-tags:
                        db: created_at
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      x-oapi-codegen-extra-tags:
                        db: updated_at
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                  additionalProperties: false
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/workspaces:
    get:
      summary: Get all workspaces
      tags:
        - workspace_workspaces
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                properties:
                  page:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  page_size:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  total_count:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  workspaces:
                    type: array
                    x-go-type-skip-optional-pointer: true
                    items:
                      x-go-type: Workspace
                      properties:
                        ID:
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                          x-go-type-name: GeneralId
                          x-go-type-skip-optional-pointer: true
                        name:
                          type: string
                          x-go-type-skip-optional-pointer: true
                        description:
                          type: string
                          x-go-type-skip-optional-pointer: true
                        organization_id:
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-oapi-codegen-extra-tags:
                            db: org_id
                            json: org_id
                          x-go-type-name: OrganizationId
                          x-go-type-skip-optional-pointer: true
                        owner:
                          type: string
                          x-go-type-skip-optional-pointer: true
                        created_at:
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        updated_at:
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        deleted_at:
                          description: SQL null Timestamp to handle null values of time.
                          x-go-type: sql.NullTime
                          type: string
                          x-go-type-skip-optional-pointer: true
      security:
        - workspace_jwt: []
    post:
      summary: Create a workspace
      tags:
        - workspace_workspaces
      requestBody:
        description: Body for creating workspace
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  x-go-type-skip-optional-pointer: true
                  description: >-
                    Provide a name that meaningfully represents this workspace.
                    You can change the name of the workspace even after its
                    creation.
                description:
                  type: string
                  x-go-type-skip-optional-pointer: true
                  description: >-
                    Workspaces serve as a virtual space for your team-based
                    work, allows you to control access and more, Provide a
                    detailed description to clarify the purpose of this
                    workspace. Remember you can changes description of workspace
                    after it's creations too. Learn more about workspaces
                    [here](https://docs.meshery.io/concepts/logical/workspaces)
                organization_id:
                  type: string
                  description: >-
                    Select an organization in which you want to create this new
                    workspace. Keep in mind that the organization cannot be
                    changed after creation.
                  x-go-type-skip-optional-pointer: true
                  x-go-name: OrganizationID
                  x-oapi-codegen-extra-tags:
                    json: organization_id
              required:
                - name
                - organization_id
      responses:
        '201':
          description: Workspace created successfully
          content:
            application/json:
              schema:
                properties:
                  ID:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-name: GeneralId
                    x-go-type-skip-optional-pointer: true
                  name:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  description:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  organization_id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: org_id
                    x-go-type-name: OrganizationId
                    x-go-type-skip-optional-pointer: true
                  owner:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    description: SQL null Timestamp to handle null values of time.
                    x-go-type: sql.NullTime
                    type: string
                    x-go-type-skip-optional-pointer: true
      security:
        - workspace_jwt: []
  /api/workspaces/{id}:
    get:
      summary: Get workspace by ID
      tags:
        - workspace_workspaces
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                properties:
                  ID:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-name: GeneralId
                    x-go-type-skip-optional-pointer: true
                  name:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  description:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  organization_id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: org_id
                    x-go-type-name: OrganizationId
                    x-go-type-skip-optional-pointer: true
                  owner:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    description: SQL null Timestamp to handle null values of time.
                    x-go-type: sql.NullTime
                    type: string
                    x-go-type-skip-optional-pointer: true
      security:
        - workspace_jwt: []
    put:
      summary: Update workspace
      tags:
        - workspace_workspaces
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Body for updating workspace
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  x-go-type-skip-optional-pointer: true
                  description: Name of workspace
                description:
                  type: string
                  x-go-type-skip-optional-pointer: true
                  description: Environment description
                organization_id:
                  type: string
                  description: Organization ID
                  x-go-type-skip-optional-pointer: true
                  x-go-name: OrganizationID
                  x-oapi-codegen-extra-tags:
                    json: organization_id
              required:
                - organization_id
      responses:
        '200':
          description: Workspace updated successfully
          content:
            application/json:
              schema:
                properties:
                  ID:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-name: GeneralId
                    x-go-type-skip-optional-pointer: true
                  name:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  description:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  organization_id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: org_id
                    x-go-type-name: OrganizationId
                    x-go-type-skip-optional-pointer: true
                  owner:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    description: SQL null Timestamp to handle null values of time.
                    x-go-type: sql.NullTime
                    type: string
                    x-go-type-skip-optional-pointer: true
      security:
        - workspace_jwt: []
    delete:
      summary: Delete workspace
      tags:
        - workspace_workspaces
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace deleted successfully
      security:
        - workspace_jwt: []
  /api/environments:
    post:
      tags:
        - environment_environments
      operationId: CreateEnvironment
      summary: Create an environment
      description: Creates a new environment
      requestBody:
        description: Body for creating environment
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  description: >-
                    An environment is a collection of resources. Provide a name
                    that meaningfully represents these resources. You can change
                    the name of the environment even after its creation.
                  type: string
                  x-go-type-skip-optional-pointer: true
                description:
                  description: >-
                    An environment is a collection of resources, such as
                    connections & credentail. Provide a detailed description to
                    clarify the purpose of this environment and the types of
                    resources it encompasses. You can modify the description at
                    any Time. Learn more about environments
                    [here](https://docs.meshery.io/concepts/logical/environments).
                  type: string
                  x-go-type-skip-optional-pointer: true
                OrganizationID:
                  type: string
                  description: >-
                    Select an organization in which you want to create this new
                    environment. Keep in mind that the organization cannot be
                    changed after creation.
                  x-go-type-skip-optional-pointer: true
                  x-go-name: OrgId
                  x-oapi-codegen-extra-tags:
                    json: organization_id
              required:
                - name
                - organizationID
      responses:
        '201':
          description: Created environment
          content:
            application/json:
              schema:
                $id: https://schemas.meshery.io/environment.json
                $schema: http://json-schema.org/draft-07/schema#
                description: >-
                  Meshery Environments allow you to logically group related
                  Connections and their associated Credentials.. Learn more at
                  https://docs.meshery.io/concepts/logical/environments
                additionalProperties: false
                type: object
                required:
                  - id
                  - name
                  - description
                  - organization_id
                properties:
                  id:
                    description: ID
                    x-order: 1
                    x-go-name: ID
                    x-oapi-codegen-extra-tags:
                      db: id
                      yaml: id
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    default: 00000000-00000000-00000000-00000000
                  name:
                    x-oapi-codegen-extra-tags:
                      db: name
                      yaml: name
                    x-order: 2
                    type: string
                    description: Environment name
                  description:
                    x-oapi-codegen-extra-tags:
                      db: description
                      yaml: description
                    x-order: 3
                    type: string
                    description: Environment description
                  organization_id:
                    x-go-name: OrganizationID
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: org_id
                      yaml: org_id
                    x-order: 4
                    description: Environment organization ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    default: 00000000-00000000-00000000-00000000
                  owner:
                    x-oapi-codegen-extra-tags:
                      db: owner
                      yaml: owner
                    x-order: 5
                    description: Environment owner
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    default: 00000000-00000000-00000000-00000000
                  created_at:
                    x-oapi-codegen-extra-tags:
                      db: created_at
                      yaml: created_at
                    x-order: 6
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  metadata:
                    x-oapi-codegen-extra-tags:
                      db: metadata
                      yaml: metadata
                    x-order: 7
                    x-go-type: core.Map
                    x-go-type-skip-optional-pointer: true
                    type: object
                  updated_at:
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                      yaml: updated_at
                    x-order: 8
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
                      yaml: deleted_at
                    x-go-type: core.NullTime
                    x-go-import: database/sql
                    x-order: 9
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - environment_jwt: []
    get:
      tags:
        - environment_environments
      operationId: GetEnvironments
      summary: Get all environments
      description: Gets all environments
      parameters:
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: string
        - name: pagesize
          in: query
          description: Get responses by pagesize
          schema:
            type: string
        - name: orgID
          in: query
          description: User's organization ID
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Environments
          content:
            application/json:
              schema:
                properties:
                  page:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  page_size:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  total_count:
                    type: integer
                    x-go-type-skip-optional-pointer: true
                  environments:
                    type: array
                    x-go-type-skip-optional-pointer: true
                    items:
                      x-go-type: Environment
                      $id: https://schemas.meshery.io/environment.json
                      $schema: http://json-schema.org/draft-07/schema#
                      description: >-
                        Meshery Environments allow you to logically group
                        related Connections and their associated Credentials..
                        Learn more at
                        https://docs.meshery.io/concepts/logical/environments
                      additionalProperties: false
                      type: object
                      required:
                        - id
                        - name
                        - description
                        - organization_id
                      properties:
                        id:
                          description: ID
                          x-order: 1
                          x-go-name: ID
                          x-oapi-codegen-extra-tags:
                            db: id
                            yaml: id
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          default: 00000000-00000000-00000000-00000000
                        name:
                          x-oapi-codegen-extra-tags:
                            db: name
                            yaml: name
                          x-order: 2
                          type: string
                          description: Environment name
                        description:
                          x-oapi-codegen-extra-tags:
                            db: description
                            yaml: description
                          x-order: 3
                          type: string
                          description: Environment description
                        organization_id:
                          x-go-name: OrganizationID
                          x-oapi-codegen-extra-tags:
                            db: org_id
                            json: org_id
                            yaml: org_id
                          x-order: 4
                          description: Environment organization ID
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          default: 00000000-00000000-00000000-00000000
                        owner:
                          x-oapi-codegen-extra-tags:
                            db: owner
                            yaml: owner
                          x-order: 5
                          description: Environment owner
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          default: 00000000-00000000-00000000-00000000
                        created_at:
                          x-oapi-codegen-extra-tags:
                            db: created_at
                            yaml: created_at
                          x-order: 6
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        metadata:
                          x-oapi-codegen-extra-tags:
                            db: metadata
                            yaml: metadata
                          x-order: 7
                          x-go-type: core.Map
                          x-go-type-skip-optional-pointer: true
                          type: object
                        updated_at:
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                            yaml: updated_at
                          x-order: 8
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
                        deleted_at:
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                            yaml: deleted_at
                          x-go-type: core.NullTime
                          x-go-import: database/sql
                          x-order: 9
                          type: string
                          format: date-time
                          x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - environment_jwt: []
  /evaluate:
    post:
      x-internal:
        - meshery
      summary: Evaluate relationships in a design
      description: >-
        Performs relationship evaluation on a given design, applying policies
        and updating components and relationships as needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - design
              properties:
                design:
                  x-go-type: pattern.PatternFile
                  x-go-type-import:
                    path: github.com/meshery/schemas/models/v1beta1/pattern
                  $schema: http://json-schema.org/draft-07/schema#
                  title: Design Schema
                  description: >-
                    Designs are your primary tool for collaborative authorship
                    of your infrastructure, workflow, and processes.
                  type: object
                  properties:
                    id:
                      x-order: 1
                      type: string
                      format: uuid
                      description: >-
                        A Universally Unique Identifier used to uniquely
                        identify entites in Meshery. The UUID core defintion is
                        used across different schemas.
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                      default: 00000000-00000000-00000000-00000000
                    name:
                      type: string
                      description: >-
                        Name of the design; a descriptive, but concise title for
                        the design document.
                      x-order: 2
                    schemaVersion:
                      description: >-
                        Specifies the version of the schema to which the design
                        conforms.
                      x-order: 3
                      type: string
                      minLength: 2
                      maxLength: 100
                      pattern: ^(([a-z.])+/?)*v(alpha|beta|[0-9]+)([.-]*[a-z0-9]+)*$
                      example:
                        - v1
                        - v1alpha1
                        - v2beta3
                        - v1.custom-suffix
                    version:
                      default: v0.0.1
                      x-order: 4
                      description: >-
                        Revision of the design as expressed by an
                        auto-incremented, SemVer-compliant version number. May
                        be manually set by a user or third-party system, but
                        will always be required to be of version number higher
                        than the previously defined version number.
                      minLength: 1
                      maxLength: 50
                      type: string
                      pattern: >-
                        ^[a-z0-9]+.[0-9]+.[0-9]+(-[0-9A-Za-z-]+(.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$
                    metadata:
                      type: object
                      x-order: 5
                      additionalProperties: true
                      properties:
                        resolvedAliases:
                          description: Map of resolved aliases present in the design
                          type: object
                          x-go-type: map[string]core.ResolvedAlias
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/v1alpha1/core
                          additionalProperties:
                            description: >-
                              An resolved alias is an component that acts as an
                              ref/pointer to a field in another component,
                              resolvedAlias are aware of there immediate parents
                              and completely resolved parents also
                            allOf:
                              - description: >-
                                  An alias is an component that acts as an
                                  ref/pointer to a field in another component,
                                  nonResolvedAlias are not aware of there
                                  immediate parents
                                type: object
                                properties:
                                  relationship_id:
                                    type: string
                                    format: uuid
                                    description: >-
                                      A Universally Unique Identifier used to
                                      uniquely identify entities in Meshery. The
                                      UUID core definition is used across
                                      different schemas.
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                  alias_component_id:
                                    type: string
                                    format: uuid
                                    description: >-
                                      A Universally Unique Identifier used to
                                      uniquely identify entities in Meshery. The
                                      UUID core definition is used across
                                      different schemas.
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                  immediate_parent_id:
                                    type: string
                                    format: uuid
                                    description: >-
                                      A Universally Unique Identifier used to
                                      uniquely identify entities in Meshery. The
                                      UUID core definition is used across
                                      different schemas.
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                  immediate_ref_field_path:
                                    type: array
                                    items:
                                      type: string
                                required:
                                  - relationship_id
                                  - alias_component_id
                                  - immediate_parent_id
                                  - immediate_ref_field_path
                              - type: object
                                properties:
                                  resolved_parent_id:
                                    type: string
                                    format: uuid
                                    description: >-
                                      A Universally Unique Identifier used to
                                      uniquely identify entities in Meshery. The
                                      UUID core definition is used across
                                      different schemas.
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                  resolved_ref_field_path:
                                    type: array
                                    items:
                                      type: string
                                required:
                                  - resolved_parent_id
                                  - resolved_ref_field_path
                    components:
                      description: A list of one or more component declarations.
                      minItems: 0
                      x-order: 6
                      type: array
                      items:
                        x-go-type: '*component.ComponentDefinition'
                        x-go-type-import:
                          path: github.com/meshery/schemas/models/v1beta1/component
                        $id: https://schemas.meshery.io/component.json
                        $schema: http://json-schema.org/draft-07/schema#
                        description: >-
                          Components are reusable building blocks for depicting
                          capabilities defined within models. Learn more at
                          https://docs.meshery.io/concepts/components
                        additionalProperties: false
                        type: object
                        properties:
                          id:
                            description: >-
                              Uniquely identifies the entity (i.e. component) as
                              defined in a declaration (i.e. design).
                            x-order: 1
                            x-oapi-codegen-extra-tags:
                              yaml: id
                              json: id
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            default: 00000000-00000000-00000000-00000000
                          schemaVersion:
                            x-order: 2
                            description: >-
                              Specifies the version of the schema to which the
                              component definition conforms.
                            x-oapi-codegen-extra-tags:
                              yaml: schemaVersion
                              json: schemaVersion
                            default: v1beta1
                            type: string
                            minLength: 2
                            maxLength: 100
                            pattern: >-
                              ^(([a-z.])+/?)*v(alpha|beta|[0-9]+)([.-]*[a-z0-9]+)*$
                            example:
                              - v1
                              - v1alpha1
                              - v2beta3
                              - v1.custom-suffix
                          version:
                            x-order: 3
                            description: Version of the component definition.
                            minLength: 1
                            maxLength: 50
                            x-oapi-codegen-extra-tags:
                              yaml: version
                              json: version
                            type: string
                            pattern: >-
                              ^[a-z0-9]+.[0-9]+.[0-9]+(-[0-9A-Za-z-]+(.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$
                            default: v0.0.1
                          displayName:
                            x-order: 4
                            description: Name of the component in human-readible format.
                            x-oapi-codegen-extra-tags:
                              yaml: displayName
                              json: displayName
                            type: string
                            pattern: ^[a-zA-Z_][a-zA-Z0-9_-]*[a-zA-Z0-9_]$
                          description:
                            x-order: 5
                            type: string
                            description: >-
                              A written representation of the purpose and
                              characteristics of the component.
                            x-oapi-codegen-extra-tags:
                              yaml: description
                              json: description
                          format:
                            x-order: 6
                            type: string
                            enum:
                              - JSON
                              - CUE
                            default: JSON
                            description: >-
                              Format specifies the format used in the
                              `component.schema` field. JSON is the default.
                            x-oapi-codegen-extra-tags:
                              yaml: format
                              json: format
                          model:
                            x-go-type: model.ModelDefinition
                            x-go-type-import:
                              path: github.com/meshery/schemas/models/v1beta1/model
                            x-order: 7
                            description: >-
                              Reference to the specific registered model to
                              which the component belongs and from which model
                              version, category, and other properties may be
                              referenced. Learn more at
                              https://docs.meshery.io/concepts/models
                            x-oapi-codegen-extra-tags:
                              gorm: foreignKey:ModelId;references:Id
                            $id: https://schemas.meshery.io/model.json
                            $schema: http://json-schema.org/draft-07/schema#
                            additionalProperties: false
                            type: object
                            properties:
                              id:
                                description: >-
                                  Uniquely identifies the entity (i.e.
                                  component) as defined in a declaration (i.e.
                                  design).
                                x-order: 1
                                x-oapi-codegen-extra-tags:
                                  yaml: id
                                  json: id
                                type: string
                                format: uuid
                                x-go-type: uuid.UUID
                                x-go-type-import:
                                  path: github.com/gofrs/uuid
                                default: 00000000-00000000-00000000-00000000
                              schemaVersion:
                                description: >-
                                  Specifies the version of the schema used for
                                  the definition.
                                x-order: 2
                                x-oapi-codegen-extra-tags:
                                  yaml: schemaVersion
                                  json: schemaVersion
                                default: v1beta1
                                type: string
                                minLength: 2
                                maxLength: 100
                                pattern: >-
                                  ^(([a-z.])+/?)*v(alpha|beta|[0-9]+)([.-]*[a-z0-9]+)*$
                                example:
                                  - v1
                                  - v1alpha1
                                  - v2beta3
                                  - v1.custom-suffix
                              version:
                                description: Version of the model definition.
                                type: string
                                x-order: 3
                                x-oapi-codegen-extra-tags:
                                  yaml: version
                                  json: version
                                minLength: 5
                                maxLength: 100
                                pattern: >-
                                  ^[a-z0-9]+.[0-9]+.[0-9]+(-[0-9A-Za-z-]+(.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$
                                default: v0.0.1
                              name:
                                type: string
                                description: >-
                                  The unique name for the model within the scope
                                  of a registrant.
                                helperText: >-
                                  Model name should be in lowercase with
                                  hyphens, not whitespaces.
                                pattern: ^[a-z0-9-]+$
                                examples:
                                  - cert-manager
                                x-order: 4
                                x-oapi-codegen-extra-tags:
                                  yaml: name
                                  json: name
                                default: untitled-model
                              displayName:
                                description: Human-readable name for the model.
                                helperText: >-
                                  Model display name may include letters,
                                  numbers, and spaces. Special characters are
                                  not allowed.
                                minLength: 1
                                maxLength: 100
                                type: string
                                pattern: ^[a-zA-Z0-9 ]+$
                                examples:
                                  - Cert Manager
                                x-order: 5
                                x-oapi-codegen-extra-tags:
                                  yaml: displayName
                                  json: displayName
                                default: Untitled Model
                              description:
                                type: string
                                default: A new Meshery model.
                                description: Description of the model.
                                minLength: 1
                                maxLength: 1000
                                x-order: 6
                                x-oapi-codegen-extra-tags:
                                  yaml: description,omitempty
                                  json: description,omitempty
                              status:
                                type: string
                                description: >-
                                  Status of model, including:

                                  - duplicate: this component is a duplicate of
                                  another. The component that is to be the
                                  canonical reference and that is duplicated by
                                  other components should not be assigned the
                                  'duplicate' status.

                                  - maintenance: model is unavailable for a
                                  period of time.

                                  - enabled: model is available for use for all
                                  users of this Meshery Server.

                                  - ignored: model is unavailable for use for
                                  all users of this Meshery Server.
                                enum:
                                  - ignored
                                  - enabled
                                  - duplicate
                                x-order: 7
                                x-oapi-codegen-extra-tags:
                                  yaml: status
                                  json: status
                                default: enabled
                              registrant:
                                x-oapi-codegen-extra-tags:
                                  yaml: registrant
                                  json: registrant
                                  gorm: foreignKey:RegistrantId;references:ID
                                x-order: 8
                                x-go-type: connection.Connection
                                x-go-type-import:
                                  path: >-
                                    github.com/meshery/schemas/models/v1beta1/connection
                                $id: https://schemas.meshery.io/component.json
                                $schema: http://json-schema.org/draft-07/schema#
                                description: >-
                                  Meshery Connections are managed and unmanaged
                                  resources that either through discovery or
                                  manual entry are tracked by Meshery. Learn
                                  more at
                                  https://docs.meshery.io/concepts/logical/connections
                                additionalProperties: false
                                type: object
                                required:
                                  - id
                                  - name
                                  - type
                                  - sub_type
                                  - kind
                                  - status
                                properties:
                                  id:
                                    description: ID
                                    x-order: 1
                                    x-go-name: ID
                                    x-oapi-codegen-extra-tags:
                                      db: id
                                      yaml: id
                                    type: string
                                    format: uuid
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                    default: 00000000-00000000-00000000-00000000
                                  name:
                                    x-oapi-codegen-extra-tags:
                                      db: name
                                      yaml: name
                                    x-order: 2
                                    type: string
                                    description: Connection Name
                                  credential_id:
                                    x-go-name: CredentialID
                                    x-oapi-codegen-extra-tags:
                                      db: credential_id
                                      yaml: credential_id
                                    x-order: 3
                                    description: Credential ID
                                    type: string
                                    format: uuid
                                    x-go-type: uuid.UUID
                                    x-go-type-import:
                                      path: github.com/gofrs/uuid
                                    default: 00000000-00000000-00000000-00000000
                                  type:
                                    x-oapi-codegen-extra-tags:
                                      db: type
                                      yaml: type
                                    x-order: 4
                                    type: string
                                    description: Connection Type
                                  sub_type:
                                    x-oapi-codegen-extra-tags:
                                      db: sub_type
                                      yaml: sub_type
                                    x-order: 5
                                    type: string
                                    description: Connection Subtype
                                  kind:
[...]
