openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for meshery Cloud REST APIs
  contact:
    email: support@layer5.io
  version: v0.6.394
servers:
  - url: https://meshery.layer5.io
    description: Meshery Cloud production server URL
  - url: https://staging-meshery.layer5.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: >-
      Meshery Cloud development server URL (controlled via PORT environment
      variable)
tags:
  - name: applications
    description: APIs for applications
    x-displayName: applications
  - name: capabilities
    description: APIs for remote provider capablities
    x-displayName: capabilities
  - name: collaboration
    description: APIs for collaboration
    x-displayName: collaboration
  - name: integrations
    description: APIs for integrations
    x-displayName: integrations
  - name: credentials
    description: APIs for Credentials
    x-displayName: credentials
  - name: events
    description: APIs for events
    x-displayName: events
  - name: filters
    description: APIs for filters
    x-displayName: filters
  - name: meshery_models
    description: APIs for Meshery models
    x-displayName: meshery_models
  - name: roles
    description: APIs for roles
    x-displayName: roles
  - name: smp_profile
    description: APIs for Service Mesh Performace profile
    x-displayName: smp_profile
  - name: service mesh performance
    x-displayName: service mesh performance
  - name: tokens
    description: APIs for tokens
    x-displayName: tokens
  - name: user tokens
    x-displayName: user tokens
  - name: users
    description: APIs for users
    x-displayName: users
paths:
  /api/content/applications:
    post:
      tags:
        - applications
      operationId: UpsertApplication
      summary: Upsert Application
      description: >-
        It will insert the application if not present else it will update the
        matching entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  x-go-type-skip-optional-pointer: true
                path:
                  type: string
                  x-go-type-skip-optional-pointer: true
                save:
                  type: boolean
                application_data:
                  properties:
                    id:
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                      x-oapi-codegen-extra-tags:
                        db: id
                        json: id
                      x-go-name: ID
                      x-go-type-skip-optional-pointer: true
                    user_id:
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                      x-oapi-codegen-extra-tags:
                        db: id
                        json: id
                      x-go-name: ID
                      x-go-type-skip-optional-pointer: true
                    application_file:
                      description: Application file
                      type: string
                      x-go-type-skip-optional-pointer: true
                    name:
                      description: Pattern Name
                      type: string
                      x-go-type-skip-optional-pointer: true
                    location:
                      type: object
                      additionalProperties:
                        type: string
                      x-go-type-skip-optional-pointer: true
                    visibility:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    source_type:
                      enum:
                        - k8s_manifest
                        - docker_compose
                        - helm_chart
                      description: Source type (K8s manifest, Helm chart, Docker compose)
                    source_content:
                      type: string
                      format: byte
                      description: Source content
                    catalog_data:
                      type: object
                      additionalProperties:
                        type: string
                      x-go-type-skip-optional-pointer: true
                    created_at:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                source_type:
                  type: string
                  x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: Upserted application
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                      x-oapi-codegen-extra-tags:
                        db: id
                        json: id
                      x-go-name: ID
                      x-go-type-skip-optional-pointer: true
                    user_id:
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                      x-oapi-codegen-extra-tags:
                        db: id
                        json: id
                      x-go-name: ID
                      x-go-type-skip-optional-pointer: true
                    application_file:
                      description: Application file
                      type: string
                      x-go-type-skip-optional-pointer: true
                    name:
                      description: Pattern Name
                      type: string
                      x-go-type-skip-optional-pointer: true
                    location:
                      type: object
                      additionalProperties:
                        type: string
                      x-go-type-skip-optional-pointer: true
                    visibility:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    source_type:
                      enum:
                        - k8s_manifest
                        - docker_compose
                        - helm_chart
                      description: Source type (K8s manifest, Helm chart, Docker compose)
                    source_content:
                      type: string
                      format: byte
                      description: Source content
                    catalog_data:
                      type: object
                      additionalProperties:
                        type: string
                      x-go-type-skip-optional-pointer: true
                    created_at:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    get:
      tags:
        - applications
      operationId: GetApplications
      summary: Get Applications
      description: Get paginated applications
      parameters:
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Applications
          content:
            application/json:
              schema:
                allOf:
                  - discriminator:
                      propertyName: resultType
                    properties:
                      page:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      page_size:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      total_count:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      resultType:
                        type: string
                        x-go-type-skip-optional-pointer: true
                    x-go-type-skip-optional-pointer: true
                  - type: object
                    properties:
                      applications:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            user_id:
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            application_file:
                              description: Application file
                              type: string
                              x-go-type-skip-optional-pointer: true
                            name:
                              description: Pattern Name
                              type: string
                              x-go-type-skip-optional-pointer: true
                            location:
                              type: object
                              additionalProperties:
                                type: string
                              x-go-type-skip-optional-pointer: true
                            visibility:
                              type: string
                              x-go-type-skip-optional-pointer: true
                            source_type:
                              enum:
                                - k8s_manifest
                                - docker_compose
                                - helm_chart
                              description: >-
                                Source type (K8s manifest, Helm chart, Docker
                                compose)
                            source_content:
                              type: string
                              format: byte
                              description: Source content
                            catalog_data:
                              type: object
                              additionalProperties:
                                type: string
                              x-go-type-skip-optional-pointer: true
                            created_at:
                              type: string
                              format: date-time
                              x-go-type-skip-optional-pointer: true
                            updated_at:
                              type: string
                              format: date-time
                              x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/content/applications/upload/{id}:
    post:
      tags:
        - applications
      operationId: UpsertApplicationSourceContent
      summary: Upsert application source content
      description: Upserts only application source content
      parameters:
        - name: id
          in: path
          description: Unique identifier
          schema:
            type: string
          required: true
      requestBody:
        description: Body for upserting meshery application source content
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: byte
              description: Source content
      responses:
        '200':
          description: ok
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/content/applications/download/{id}:
    get:
      tags:
        - applications
      operationId: GetApplicationSourceContent
      summary: Get application source content
      description: Get application source content
      parameters:
        - name: id
          in: path
          description: Unique identifier
          schema:
            type: string
          required: true
      responses:
        '200':
          description: application source content associated with ID
          content:
            text/plain:
              schema:
                type: string
                format: byte
                description: Source content
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/content/applications/{id}:
    get:
      tags:
        - applications
      operationId: GetApplication
      summary: Get application by ID
      description: Get application by ID
      parameters:
        - name: id
          in: path
          description: Unique identifier
          schema:
            type: string
          required: true
      responses:
        '200':
          description: application associated with ID
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  user_id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  application_file:
                    description: Application file
                    type: string
                    x-go-type-skip-optional-pointer: true
                  name:
                    description: Pattern Name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  location:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  visibility:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  source_type:
                    enum:
                      - k8s_manifest
                      - docker_compose
                      - helm_chart
                    description: Source type (K8s manifest, Helm chart, Docker compose)
                  source_content:
                    type: string
                    format: byte
                    description: Source content
                  catalog_data:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    delete:
      tags:
        - applications
      operationId: DeleteApplication
      summary: Delete application by ID
      description: Delete application associated with ID
      parameters:
        - name: id
          in: path
          description: Unique identifier
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Deleted application
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  user_id:
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  application_file:
                    description: Application file
                    type: string
                    x-go-type-skip-optional-pointer: true
                  name:
                    description: Pattern Name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  location:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  visibility:
                    type: string
                    x-go-type-skip-optional-pointer: true
                  source_type:
                    enum:
                      - k8s_manifest
                      - docker_compose
                      - helm_chart
                    description: Source type (K8s manifest, Helm chart, Docker compose)
                  source_content:
                    type: string
                    format: byte
                    description: Source content
                  catalog_data:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /capabilities:
    get:
      deprecated: true
      tags:
        - capabilities
      operationId: GetCapabilitie
      summary: Capabilities
      description: Get available capabilities for logged in user
      parameters:
        - name: os
          in: query
          description: user's os
          schema:
            type: string
        - name: playground
          in: query
          description: Is playground mode
          schema:
            type: string
      responses:
        '200':
          description: capabilities
          content:
            application/json:
              schema:
                properties:
                  provider_type:
                    description: Provider type
                    type: string
                    x-go-type-skip-optional-pointer: true
                  package_version:
                    description: Package version
                    type: string
                    x-go-type-skip-optional-pointer: true
                  package_url:
                    description: Package url
                    type: string
                    x-go-type-skip-optional-pointer: true
                  provider_name:
                    description: Provider name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  provider_description:
                    type: array
                    items:
                      type: string
                      x-go-type-skip-optional-pointer: true
                  extensions:
                    properties:
                      navigator:
                        type: array
                        items:
                          properties:
                            title:
                              description: Title
                              type: string
                              x-go-type-skip-optional-pointer: true
                            on_click_callback:
                              type: integer
                            href:
                              properties:
                                uri:
                                  type: string
                                  format: uri
                                external:
                                  type: boolean
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            icon:
                              description: Icon link
                              type: string
                              x-go-type-skip-optional-pointer: true
                            link:
                              description: link
                              format: uri
                              type: string
                              x-go-type-skip-optional-pointer: true
                            show:
                              type: boolean
                              description: Controls whether to show the extension or not
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                            allowedTo:
                              type: object
                      user_prefs:
                        type: array
                        items:
                          properties:
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                      graphql:
                        type: array
                        items:
                          properties:
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            path:
                              description: Path
                              type: string
                              x-go-type-skip-optional-pointer: true
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                      account:
                        type: array
                        items:
                          properties:
                            title:
                              description: Title
                              type: string
                              x-go-type-skip-optional-pointer: true
                            on_click_callback:
                              type: integer
                            href:
                              properties:
                                uri:
                                  type: string
                                  format: uri
                                external:
                                  type: boolean
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            link:
                              description: link
                              format: uri
                              type: string
                              x-go-type-skip-optional-pointer: true
                            show:
                              type: boolean
                              description: Controls whether to show the extension or not
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                  capabilities:
                    properties:
                      feature:
                        description: Feature name
                        type: string
                        x-go-type-skip-optional-pointer: true
                      endpoint:
                        type: string
                        x-go-type-skip-optional-pointer: true
                  restrictedAccess:
                    properties:
                      isMesheryUIRestricted:
                        type: boolean
                      allowedComponents:
                        properties:
                          navigator:
                            type: object
                          header:
                            type: object
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security: []
  /{meshery-version}/capabilities:
    get:
      tags:
        - capabilities
      operationId: GetCapabilities
      summary: Capabilities By server version
      description: Get available capabilities for logged in user
      parameters:
        - name: meshery-version
          in: path
          description: meshery version
          schema:
            type: string
          required: true
        - name: os
          in: query
          description: user's os
          schema:
            type: string
        - name: playground
          in: query
          description: Is playground mode
          schema:
            type: string
      responses:
        '200':
          description: capabilities
          content:
            application/json:
              schema:
                properties:
                  provider_type:
                    description: Provider type
                    type: string
                    x-go-type-skip-optional-pointer: true
                  package_version:
                    description: Package version
                    type: string
                    x-go-type-skip-optional-pointer: true
                  package_url:
                    description: Package url
                    type: string
                    x-go-type-skip-optional-pointer: true
                  provider_name:
                    description: Provider name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  provider_description:
                    type: array
                    items:
                      type: string
                      x-go-type-skip-optional-pointer: true
                  extensions:
                    properties:
                      navigator:
                        type: array
                        items:
                          properties:
                            title:
                              description: Title
                              type: string
                              x-go-type-skip-optional-pointer: true
                            on_click_callback:
                              type: integer
                            href:
                              properties:
                                uri:
                                  type: string
                                  format: uri
                                external:
                                  type: boolean
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            icon:
                              description: Icon link
                              type: string
                              x-go-type-skip-optional-pointer: true
                            link:
                              description: link
                              format: uri
                              type: string
                              x-go-type-skip-optional-pointer: true
                            show:
                              type: boolean
                              description: Controls whether to show the extension or not
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                            allowedTo:
                              type: object
                      user_prefs:
                        type: array
                        items:
                          properties:
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                      graphql:
                        type: array
                        items:
                          properties:
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            path:
                              description: Path
                              type: string
                              x-go-type-skip-optional-pointer: true
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                      account:
                        type: array
                        items:
                          properties:
                            title:
                              description: Title
                              type: string
                              x-go-type-skip-optional-pointer: true
                            on_click_callback:
                              type: integer
                            href:
                              properties:
                                uri:
                                  type: string
                                  format: uri
                                external:
                                  type: boolean
                            component:
                              description: Component
                              type: string
                              x-go-type-skip-optional-pointer: true
                            link:
                              description: link
                              format: uri
                              type: string
                              x-go-type-skip-optional-pointer: true
                            show:
                              type: boolean
                              description: Controls whether to show the extension or not
                            type:
                              description: Extension type
                              type: string
                              x-go-type-skip-optional-pointer: true
                  capabilities:
                    properties:
                      feature:
                        description: Feature name
                        type: string
                        x-go-type-skip-optional-pointer: true
                      endpoint:
                        type: string
                        x-go-type-skip-optional-pointer: true
                  restrictedAccess:
                    properties:
                      isMesheryUIRestricted:
                        type: boolean
                      allowedComponents:
                        properties:
                          navigator:
                            type: object
                          header:
                            type: object
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security: []
  /collaboration:
    get:
      tags:
        - collaboration
      operationId: CollaborationHandler
      summary: Collaboration
      description: Collaboration
      security: []
      responses:
        '101':
          description: initate cross server collaboration
  /api/integrations/connections:
    post:
      tags:
        - integrations
      operationId: RegisterConnection
      summary: Register Connection
      description: Register with Meshery Cloud
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  description: Kind
                  type: string
                  x-go-type-skip-optional-pointer: true
                type:
                  description: Connection type
                  type: string
                  x-go-type-skip-optional-pointer: true
                sub_type:
                  description: Connection subtype
                  type: string
                  x-go-type-skip-optional-pointer: true
                credential_secret:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: Inserted connection
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  name:
                    description: Connection Name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  credential_id:
                    description: Credential ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  type:
                    description: Connection Type
                    type: string
                    x-go-type-skip-optional-pointer: true
                  sub_type:
                    description: Connection Subtype
                    type: string
                    x-go-type-skip-optional-pointer: true
                  kind:
                    description: Connection Kind
                    type: string
                    x-go-type-skip-optional-pointer: true
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  status:
                    description: Connection Status
                    type: string
                    enum:
                      - discovered
                      - registered
                      - connected
                      - ignored
                      - maintenance
                      - disconnected
                      - deleted
                      - not found
                    x-go-type-skip-optional-pointer: true
                  user_id:
                    x-go-name: UserID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    get:
      tags:
        - integrations
      operationId: GetConnections
      summary: Get connections
      description: Get connections
      parameters:
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of connections
          content:
            application/json:
              schema:
                allOf:
                  - discriminator:
                      propertyName: resultType
                    properties:
                      page:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      page_size:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      total_count:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      resultType:
                        type: string
                        x-go-type-skip-optional-pointer: true
                    x-go-type-skip-optional-pointer: true
                  - type: object
                    properties:
                      connections:
                        type: array
                        items:
                          properties:
                            id:
                              description: ID
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            name:
                              description: Connection Name
                              type: string
                              x-go-type-skip-optional-pointer: true
                            credential_id:
                              description: Credential ID
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            type:
                              description: Connection Type
                              type: string
                              x-go-type-skip-optional-pointer: true
                            sub_type:
                              description: Connection Subtype
                              type: string
                              x-go-type-skip-optional-pointer: true
                            kind:
                              description: Connection Kind
                              type: string
                              x-go-type-skip-optional-pointer: true
                            metadata:
                              type: object
                              additionalProperties:
                                type: string
                              x-go-type-skip-optional-pointer: true
                            status:
                              description: Connection Status
                              type: string
                              enum:
                                - discovered
                                - registered
                                - connected
                                - ignored
                                - maintenance
                                - disconnected
                                - deleted
                                - not found
                              x-go-type-skip-optional-pointer: true
                            user_id:
                              x-go-name: UserID
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-type-skip-optional-pointer: true
                            created_at:
                              type: string
                              format: date-time
                              x-go-type-skip-optional-pointer: true
                            updated_at:
                              type: string
                              format: date-time
                              x-go-type-skip-optional-pointer: true
                            deleted_at:
                              type: string
                              format: date-time
                              x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/integrations/connections/{connectionId}:
    put:
      tags:
        - integrations
      operationId: EditConnectionByID
      summary: Edit Connection by ID
      description: Edit registered connection using the connection ID
      parameters:
        - name: connectionId
          in: path
          description: Connection ID
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
            x-oapi-codegen-extra-tags:
              db: id
              json: id
            x-go-name: ID
            x-go-type-skip-optional-pointer: true
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  description: Kind
                  type: string
                  x-go-type-skip-optional-pointer: true
                type:
                  description: Connection type
                  type: string
                  x-go-type-skip-optional-pointer: true
                sub_type:
                  description: Connection subtype
                  type: string
                  x-go-type-skip-optional-pointer: true
                credential_secret:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: Edited connection
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  name:
                    description: Connection Name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  credential_id:
                    description: Credential ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  type:
                    description: Connection Type
                    type: string
                    x-go-type-skip-optional-pointer: true
                  sub_type:
                    description: Connection Subtype
                    type: string
                    x-go-type-skip-optional-pointer: true
                  kind:
                    description: Connection Kind
                    type: string
                    x-go-type-skip-optional-pointer: true
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  status:
                    description: Connection Status
                    type: string
                    enum:
                      - discovered
                      - registered
                      - connected
                      - ignored
                      - maintenance
                      - disconnected
                      - deleted
                      - not found
                    x-go-type-skip-optional-pointer: true
                  user_id:
                    x-go-name: UserID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/integrations/connections/status:
    get:
      tags:
        - integrations
      operationId: GetConnectionStatus
      summary: Get status of all connections
      description: Get summary about the status of all connections
      responses:
        '200':
          description: Status of connections
          content:
            application/json:
              schema:
                properties:
                  connections_status:
                    type: array
                    items:
                      properties:
                        status:
                          description: Connection status
                          type: string
                          x-go-type-skip-optional-pointer: true
                        count:
                          type: integer
                          description: Number of connections having the status
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/integrations/connections/{connectionKind}:
    get:
      tags:
        - integrations
      operationId: GetConnectionsByKind
      summary: Get connections by kind
      description: Get connections by kind
      parameters:
        - name: connectionKind
          in: path
          description: 'Connection kind (eg: Meshery)'
          required: true
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Connections by kind
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security: []
    delete:
      tags:
        - integrations
      operationId: DeleteConnection
      summary: Delete connection
      description: Delete registered connection
      parameters:
        - name: connectionKind
          in: path
          description: 'Connection kind (eg: Meshery)'
          required: true
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: Deleted connection
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  name:
                    description: Connection Name
                    type: string
                    x-go-type-skip-optional-pointer: true
                  credential_id:
                    description: Credential ID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-name: ID
                    x-go-type-skip-optional-pointer: true
                  type:
                    description: Connection Type
                    type: string
                    x-go-type-skip-optional-pointer: true
                  sub_type:
                    description: Connection Subtype
                    type: string
                    x-go-type-skip-optional-pointer: true
                  kind:
                    description: Connection Kind
                    type: string
                    x-go-type-skip-optional-pointer: true
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    x-go-type-skip-optional-pointer: true
                  status:
                    description: Connection Status
                    type: string
                    enum:
                      - discovered
                      - registered
                      - connected
                      - ignored
                      - maintenance
                      - disconnected
                      - deleted
                      - not found
                    x-go-type-skip-optional-pointer: true
                  user_id:
                    x-go-name: UserID
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-go-type-skip-optional-pointer: true
                  created_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  updated_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
                  deleted_at:
                    type: string
                    format: date-time
                    x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/integrations/connections/{connectionKind}/{connectionId}:
    get:
      tags:
        - integrations
      operationId: GetConnectionsByKindAndConnectionID
      summary: Get connections by kind and connectionID.
      description: >-
        Get connections by kind (kind is required because this API returns the
        results in non std format of a connection)
      parameters:
        - name: connectionKind
          in: path
          description: 'Connection kind (eg: Meshery)'
          required: true
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
        - name: connectionId
          in: path
          description: Connection ID
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
            x-oapi-codegen-extra-tags:
              db: id
              json: id
            x-go-name: ID
            x-go-type-skip-optional-pointer: true
          required: true
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Connections by kind
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - properties:
                      k8sContext:
                        properties:
                          id:
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            x-oapi-codegen-extra-tags:
                              db: id
                              json: id
                            x-go-name: ID
                            x-go-type-skip-optional-pointer: true
                          name:
                            type: string
                            x-go-type-skip-optional-pointer: true
                          auth:
                            type: object
                            additionalProperties:
                              type: string
                            x-go-type-skip-optional-pointer: true
                          cluster:
                            type: object
                            additionalProperties:
                              type: string
                            x-go-type-skip-optional-pointer: true
                          server:
                            type: string
                          owner:
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            x-oapi-codegen-extra-tags:
                              db: id
                              json: id
                            x-go-name: ID
                            x-go-type-skip-optional-pointer: true
                          created_by:
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            x-oapi-codegen-extra-tags:
                              db: id
                              json: id
                            x-go-name: ID
                            x-go-type-skip-optional-pointer: true
                          meshery_instance_id:
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            x-oapi-codegen-extra-tags:
                              db: id
                              json: id
                            x-go-name: ID
                            x-go-type-skip-optional-pointer: true
                          kubernetes_server_id:
                            type: string
                            format: uuid
                            x-go-type: uuid.UUID
                            x-go-type-import:
                              path: github.com/gofrs/uuid
                            x-oapi-codegen-extra-tags:
                              db: id
                              json: id
                            x-go-name: ID
                            x-go-type-skip-optional-pointer: true
                          deployment_type:
                            type: string
                          updated_at:
                            type: string
                            format: date-time
                            x-go-type-skip-optional-pointer: true
                          created_at:
                            type: string
                            format: date-time
                            x-go-type-skip-optional-pointer: true
                      inserted:
                        type: boolean
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/integrations/connections/meshery/{mesheryServerID}:
    delete:
      tags:
        - integrations
      operationId: DeleteMesheryConnection
      summary: Delete Meshery connection
      description: >-
        Deletes a given meshery connection. This is generally used for deleting
        connections from Meshery Server UI where UI is not aware of connection
        IDs.
      parameters:
        - name: mesheryServerID
          in: path
          description: Meshery server ID
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
            x-oapi-codegen-extra-tags:
              db: id
              json: id
            x-go-name: ID
            x-go-type-skip-optional-pointer: true
          required: true
      responses:
        '200':
          description: ok
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/system/user/credentials:
    get:
      tags:
        - credentials
      operationId: GetUserCredentials
      summary: Get user's credentials
      description: Get all user's credentials for logged in user
      parameters:
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: credentials
          content:
            application/json:
              schema:
                allOf:
                  - discriminator:
                      propertyName: resultType
                    properties:
                      page:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      page_size:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      total_count:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      resultType:
                        type: string
                        x-go-type-skip-optional-pointer: true
                    x-go-type-skip-optional-pointer: true
                  - type: object
                    properties:
                      credential:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            user_id:
                              type: string
                              format: uuid
                              x-go-type: uuid.UUID
                              x-go-type-import:
                                path: github.com/gofrs/uuid
                              x-oapi-codegen-extra-tags:
                                db: id
                                json: id
                              x-go-name: ID
                              x-go-type-skip-optional-pointer: true
                            name:
                              type: string
                              x-go-type-skip-optional-pointer: true
                            type:
                              type: string
                            secret:
                              type: object
                              additionalProperties:
                                type: string
                              x-go-type-skip-optional-pointer: true
                            created_at:
                              description: Timestamp when the resource was created.
                              x-go-type: time.Time
                              type: string
                              format: date-time
                              x-oapi-codegen-extra-tags:
                                db: created_at
                              x-go-type-skip-optional-pointer: true
                            updated_at:
                              description: Timestamp when the resource was updated.
                              x-go-type: time.Time
                              type: string
                              format: date-time
                              x-oapi-codegen-extra-tags:
                                db: updated_at
                              x-go-type-skip-optional-pointer: true
                            deleted_at:
                              description: Timestamp when the resource was deleted.
                              x-go-type: time.Time
                              type: string
                              format: date-time
                              x-oapi-codegen-extra-tags:
                                db: deleted_at
                              x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    delete:
      tags:
        - credentials
      operationId: DeleteUserCredential
      summary: Delete user's credentials
      description: Delete user's credentials (tombstoned records) for logged in user
      parameters:
        - name: credential_id
          in: query
          description: credential Id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ok
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    post:
      tags:
        - credentials
      operationId: SaveUserCredential
      summary: Create Credential
      description: Create new credentials for logged in user
      requestBody:
        description: Body for user credential
        required: true
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-oapi-codegen-extra-tags:
                    db: id
                    json: id
                  x-go-name: ID
                  x-go-type-skip-optional-pointer: true
                user_id:
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-oapi-codegen-extra-tags:
                    db: id
                    json: id
                  x-go-name: ID
                  x-go-type-skip-optional-pointer: true
                name:
                  type: string
                  x-go-type-skip-optional-pointer: true
                type:
                  type: string
                secret:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
                created_at:
                  description: Timestamp when the resource was created.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: created_at
                  x-go-type-skip-optional-pointer: true
                updated_at:
                  description: Timestamp when the resource was updated.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: updated_at
                  x-go-type-skip-optional-pointer: true
                deleted_at:
                  description: Timestamp when the resource was deleted.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: deleted_at
                  x-go-type-skip-optional-pointer: true
      responses:
        '201':
          description: created
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
    put:
      tags:
        - credentials
      operationId: UpdateUserCredential
      summary: Update credential
      description: Update credentials for logged in user
      requestBody:
        description: Body for user credential
        required: true
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-oapi-codegen-extra-tags:
                    db: id
                    json: id
                  x-go-name: ID
                  x-go-type-skip-optional-pointer: true
                user_id:
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-oapi-codegen-extra-tags:
                    db: id
                    json: id
                  x-go-name: ID
                  x-go-type-skip-optional-pointer: true
                name:
                  type: string
                  x-go-type-skip-optional-pointer: true
                type:
                  type: string
                secret:
                  type: object
                  additionalProperties:
                    type: string
                  x-go-type-skip-optional-pointer: true
                created_at:
                  description: Timestamp when the resource was created.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: created_at
                  x-go-type-skip-optional-pointer: true
                updated_at:
                  description: Timestamp when the resource was updated.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: updated_at
                  x-go-type-skip-optional-pointer: true
                deleted_at:
                  description: Timestamp when the resource was deleted.
                  x-go-type: time.Time
                  type: string
                  format: date-time
                  x-oapi-codegen-extra-tags:
                    db: deleted_at
                  x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: ok
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events:
    get:
      tags:
        - events
      operationId: GetEventsAggregate
      summary: Get Events Aggregate
      description: Get Events Aggreate Count
      parameters:
        - name: cumulative
          in: query
          description: Cumulative events
          schema:
            type: string
      responses:
        '200':
          description: Events Aggregate Count
          content:
            application/json:
              schema:
                properties:
                  audit:
                    type: integer
                    description: Number of audit events
                  summary:
                    type: integer
                    description: Number of summary events
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events/date:
    get:
      tags:
        - events
      operationId: RetrieveResultsByDate
      summary: Events by Date
      description: Get Events by date
      parameters:
        - name: cumulative
          in: query
          description: Cumulative events
          schema:
            type: string
      responses:
        '200':
          description: Events by date
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    count:
                      type: integer
                    event_type:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    dt:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    week:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    month:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    year:
                      type: string
                      x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events/week:
    get:
      tags:
        - events
      operationId: RetrieveResultsByWeek
      summary: Events by Week
      description: Get Events by week
      parameters:
        - name: cumulative
          in: query
          description: Cumulative events
          schema:
            type: string
      responses:
        '200':
          description: Events by week
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    count:
                      type: integer
                    event_type:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    dt:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    week:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    month:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    year:
                      type: string
                      x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events/month:
    get:
      tags:
        - events
      operationId: RetrieveResultsByMonth
      summary: Events by Month
      description: Get Events by month
      parameters:
        - name: cumulative
          in: query
          description: Cumulative events
          schema:
            type: string
      responses:
        '200':
          description: Events by month
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    count:
                      type: integer
                    event_type:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    dt:
                      type: string
                      format: date-time
                      x-go-type-skip-optional-pointer: true
                    week:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    month:
                      type: string
                      x-go-type-skip-optional-pointer: true
                    year:
                      type: string
                      x-go-type-skip-optional-pointer: true
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events/list:
    get:
      tags:
        - events
      operationId: GetEvents
      summary: All Events
      description: Get All events
      parameters:
        - name: page
          in: query
          description: Get reponses by page
          schema:
            type: string
        - name: page_size
          in: query
          description: Get reponses by pageSize
          schema:
            type: string
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
        - name: filter
          in: query
          description: Filter for retrieving events
          schema:
            type: object
            properties:
              provider:
                type: array
                items:
                  type: string
              event_type:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Events list
          content:
            application/json:
              schema:
                allOf:
                  - discriminator:
                      propertyName: recordType
                    properties:
                      page:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      page_size:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      records_total:
                        type: integer
                        x-go-type-skip-optional-pointer: true
                      recordType:
                        type: string
                        x-go-type-skip-optional-pointer: true
                    x-go-type-skip-optional-pointer: true
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          properties:
                            event:
                              description: Defines model for event_trackers
                              properties:
                                id:
                                  description: |
                                    UUID of the event.
                                  type: string
                                  format: uuid
                                  x-go-type: uuid.UUID
                                  x-go-type-import:
                                    path: github.com/gofrs/uuid
                                  x-oapi-codegen-extra-tags:
                                    db: id
                                    json: id
                                  x-go-name: ID
                                  x-go-type-skip-optional-pointer: true
                                user_id:
                                  description: >
                                    UUID of the user that initiated the event.
                                    In most cases this would be present, but not
                                    always.
                                  type: string
                                  format: uuid
                                  x-go-type: uuid.UUID
                                  x-go-type-import:
                                    path: github.com/gofrs/uuid
                                  x-oapi-codegen-extra-tags:
                                    db: user_id
                                    json: user_id
                                  x-go-name: UserID
                                  x-go-type-skip-optional-pointer: true
                                system_id:
                                  description: >
                                    The system from which the request is
                                    sourced. In the case of Meshery Server, 

                                    the ID is meshery_instance_id of Meshery
                                    Server (which can be found in the metadata
                                    of`Connections` table).
                                  type: string
                                  format: uuid
                                  x-go-type: uuid.UUID
                                  x-go-type-import:
                                    path: github.com/gofrs/uuid
                                  x-oapi-codegen-extra-tags:
                                    db: system_id
                                  x-go-name: SystemID
                                  x-go-type-skip-optional-pointer: true
                                operation_id:
                                  description: >
                                    Each Event will have a OperationID. This
                                    field is never NULL, which is to say an
                                    operation can result in series of events,
                                    for eg: Different stages of Pattern Engine /
                                    activities of Workflow engine. Each
                                    operation (and sub-operation) will have a
                                    different operation ID.
                                  type: string
                                  format: uuid
                                  x-go-type: uuid.UUID
                                  x-go-type-import:
                                    path: github.com/gofrs/uuid
                                  x-oapi-codegen-extra-tags:
                                    db: operation_id
                                  x-go-name: OperationID
                                  x-go-type-skip-optional-pointer: true
                                category:
                                  description: >
                                    Resource name on which the operation is
                                    invoked.
                                  type: string
                                  example: pattern
                                  x-oapi-codegen-extra-tags:
                                    db: category
                                action:
                                  description: |
                                    Action taken on the resource.
                                  type: string
                                  example: deployed
                                  x-oapi-codegen-extra-tags:
                                    db: action
                                status:
                                  description: |
                                    Status for the event.
                                  type: string
                                  enum:
                                    - read
                                    - unread
                                  x-oapi-codegen-extra-tags:
                                    db: status
                                acted_upon:
                                  type: string
                                  format: uuid
                                  description: >
                                    UUID of the entity on which the event was
                                    performed.
                                  example: 110020-123230-434231-000213
                                  x-go-type: uuid.UUID
                                  x-oapi-codegen-extra-tags:
                                    db: acted_upon
                                description:
                                  description: |
                                    A summary/receipt of event that occured.
                                  type: string
                                  example: >-
                                    “Prometheus” pattern deployed in K8s ctx
                                    “Meshery Cloud”.
                                  x-oapi-codegen-extra-tags:
                                    db: description
                                severity:
                                  description: |
                                    A set of seven standard event levels.
                                  type: string
                                  enum:
                                    - emergency
                                    - critical
                                    - alert
                                    - error
                                    - warning
                                    - debug
                                    - informational
                                    - success
                                  example: info
                                  x-oapi-codegen-extra-tags:
                                    db: severity
                                metadata:
                                  description: >
                                    Contains meaningful information, specific to
                                    the type of event.

                                    Structure of metadata can be different for
                                    different events.
                                  type: object
                                  x-go-type: '[]byte'
                                  x-oapi-codegen-extra-tags:
                                    db: metadata
                                created_at:
                                  description: Timestamp when the resource was created.
                                  x-go-type: time.Time
                                  type: string
                                  format: date-time
                                  x-oapi-codegen-extra-tags:
                                    db: created_at
                                  x-go-type-skip-optional-pointer: true
                                updated_at:
                                  description: Timestamp when the resource was updated.
                                  x-go-type: time.Time
                                  type: string
                                  format: date-time
                                  x-oapi-codegen-extra-tags:
                                    db: updated_at
                                  x-go-type-skip-optional-pointer: true
                                deleted_at:
                                  description: Timestamp when the resource was deleted.
                                  x-go-type: time.Time
                                  type: string
                                  format: date-time
                                  x-oapi-codegen-extra-tags:
                                    db: deleted_at
                                  x-go-type-skip-optional-pointer: true
                              required:
                                - id
                                - system_id
                                - operation_id
                                - category
                                - action
                                - status
                                - acted_upon
                                - description
                                - severity
                                - metadata
                                - created_at
                                - updated_at
                            events_count:
                              type: integer
                              x-oapi-codegen-extra-tags:
                                db: events_count
                          required:
                            - event
                            - events_count
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
      security:
        - jwt: []
  /api/events/summary:
    get:
      tags:
        - events
      operationId: GetEventSummaryByUser
      summary: Events Summary
[...]
