name: Schemas Publisher
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - README.md
jobs:
  resolve-and-update-schema:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: 'master'
      - name: Install Redocly
        uses: actions/setup-node@v4
      - run: npm i -g @redocly/cli@latest
      - name: Run Script
        shell: bash
        run: |
         chmod +x ./scripts/merge-openapi-specs.sh
         ./scripts/merge-openapi-specs.sh
      - name: Delete Generated Files
        run: |
         if [[ -d ./openapi/schemas/temp_schema_bundle ]]; then
          rmdir -r ./openapi/schemas/temp_schema_bundle
         fi

      - name: Pull changes from remote
        run: git pull origin master

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update schema
          commit_options: '--signoff'
          branch: master
          commit_user_name: l5io
          commit_user_email: ci@layer5.io
          commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>